# Conversión archivos de 2023 de .tab a .csv

In [2]:
import pandas as pd

In [3]:


# Especifica los nombres de los archivos
archivo_tab = "../../data/2023/EPFgastos_2023.tab"  # Nombre del archivo de entrada
archivo_csv = "../../data/2023/EPFgastos_2023.csv"  # Nombre del archivo de salida

# Cargar el archivo .tabs
df_gastos = pd.read_csv(archivo_tab, delimiter="\t", encoding="utf-8")

# Guardar en formato CSV
df_gastos.to_csv(archivo_csv, index=False, encoding="utf-8", sep="\t")

print(f"Archivo convertido: {archivo_csv}")

Archivo convertido: ../../data/2023/EPFgastos_2023.csv

In [4]:
import pandas as pd

# Especifica los nombres de los archivos
archivo_tab = "../../data/2023/EPFhogar_2023.tab"  # Nombre del archivo de entrada
archivo_csv = "../../data/2023/EPFhogar_2023.csv"  # Nombre del archivo de salida

# Cargar el archivo .tab
df_hogar = pd.read_csv(archivo_tab, delimiter="\t", encoding="utf-8")

# Guardar en formato CSV
df_hogar.to_csv(archivo_csv, index=False, encoding="utf-8", sep="\t")

print(f"Archivo convertido: {archivo_csv}")

Archivo convertido: ../../data/2023/EPFhogar_2023.csv

In [5]:
import pandas as pd

# Especifica los nombres de los archivos
archivo_tab = "../../data/2023/EPFmhogar_2023.tab"  # Nombre del archivo de entrada
archivo_csv = "../../data/2023/EPFmhogar_2023.csv"  # Nombre del archivo de salida

# Cargar el archivo .tab
df_mhogar = pd.read_csv(archivo_tab, delimiter="\t", encoding="utf-8")

# Guardar en formato CSV
df_mhogar.to_csv(archivo_csv, index=False, encoding="utf-8", sep="\t")

print(f"Archivo convertido: {archivo_csv}")

Archivo convertido: ../../data/2023/EPFmhogar_2023.csv

# Datos INE

- EPFhogar → Información del hogar (estructura, vivienda, ingresos).
- EPFmhogar → Datos individuales de cada miembro del hogar (edad, empleo, educación).
- EPFgastos → Gasto detallado por categorías (alimentación, vivienda, transporte, etc.).

## 2006-2010

In [6]:
import os
import pandas as pd

# Ruta base donde están las carpetas 2006–2010
base_path = "../../data"
years_06_10 = list(range(2006, 2011))

### --- 1) FICHERO DE HOGAR (2006–2010) ---

In [7]:
colspecs_hogar_06_10 = [
    (0,4),(4,9),(9,11),(11,12),(12,13),(13,14),(14,15),(15,16),(16,17),
    (17,28),(28,30),(30,31),(31,33),(33,35),(35,37),(37,39),(39,41),(41,43),
    (43,45),(45,47),(47,49),(49,51),(51,53),(53,56),(56,59),(59,61),(61,63),
    (63,65),(65,67),(67,69),(69,71),(71,73),(73,75),(75,77),(77,79),(79,81),
    (81,83),(83,85),(85,87),(87,89),(89,91),(91,93),(93,95),(95,97),(97,99),
    (99,101),(101,103),(103,105),(105,107),(107,109),(109,111),(111,113),(113,115),
    (115,117),(117,119),(119,121),(121,123),(123,125),(125,130),(130,131),(131,133),
    (133,134),(134,136),(136,138),(138,140),(140,142),(142,144),(144,146),(146,148),
    (148,150),(150,152),(152,154),(154,155),(155,157),(157,159),(159,161),(161,163),
    (163,165),(165,168),(168,170),(170,172),(172,174),(174,176),(176,177),(177,178),
    (178,180),(180,182),(182,184),(184,186),(186,188),(188,190),(190,192),(192,194),
    (194,196),(196,198),(198,200),(200,202),(202,204),(204,206),(206,208),(208,210),
    (210,212),(212,214),(214,216),(216,218),(218,220),(220,222),(222,224),(224,226),
    (226,228),(228,230),(230,232),(232,234),(234,236),(236,238),(238,240),(240,242),
    (242,244),(244,246),(246,248),(248,250),(250,252),(252,254),(254,256),(256,258),
    (258,260),(260,262),(262,264),(264,266),(266,268),(268,270),(270,272),(272,274),
    (274,276),(276,278),(278,280),(280,282),(282,284),(284,286),(286,288),(288,290),
    (290,292),(292,294),(294,296),(296,298),(298,300),(300,302),(302,304),(304,320),
    (320,325),(325,341),(341,354),(354,367),(367,380),(380,393),(393,395),(395,397),
    (397,399),(399,401),(401,403),(403,405),(405,407),(407,409),(409,411),(411,416),
    (416,417),(417,419),(419,420),(420,422),(422,425),(425,428),(428,431),(431,434),
    (434,437)
]

column_names_hogar_06_10 = [
    "ANOENC","NUMERO","CCAA","NUTS1","CAPROV","TAMAMU","DENSI","CLAVE","CLATEO",
    "FACTOR","NMIEMB","TAMANO","NMIEMSD","NMIEMHU","NMIEMIN",
    *["NMIEM{}".format(i) for i in range(1,8)], "NHIJOSD","UC1","UC2",
    "PF2TEO","PF2RECO",
    *["TIPHOGAR_{}".format(i) for i in range(1,12)],
    "NUMACTI","NUMOCUP","NUMESTU","SITUOCU_HOG","SITUACT_HOG","NORDENSP",
    "EDADSP","SEXOSP","NACIONA_SP","PAISSP","SITURES_SP","ECIVILSP",
    "NORDENCO_SP","NORDENPA_SP","NORDENMA_SP","ESTUDIOS_SP","ESTUDRED_SP",
    "SITUACT_SP","SITURED_SP","PERCEPSP","IMPEXACP_SP","IMPUEXACP_SP",
    "INTERINP_SP","IMPU_INTERPSP","TRABAJO","OCUPA","OCUPARED","ACTESTB",
    "ACTESTB_RED","SITPROF","SECTOR","TIPOCONT","SITSOCI","SITSOCI_RE",
    "REGTEN","TIPOEDIF","ZONARES","TIPOCASA","NHABIT","ANNOCON","SUPERF",
    "AGUACALI","FUENAGUA","CALEF","FUENCALE","DISPOSI_OV","NUMOVD",
    *["REGTENV{}".format(i) for i in range(1,10)],
    *["MESESV{}".format(i) for i in range(1,10)],
    *["DIASV{}".format(i) for i in range(1,10)],
    *["AGUACV{}".format(i) for i in range(1,10)],
    *["FUENACV{}".format(i) for i in range(1,10)],
    *["CALEFV{}".format(i) for i in range(1,10)],
    *["FUENCAV{}".format(i) for i in range(1,10)],
    "GASTOT","IMPUTGAS","GASTMON","GASTNOM1","GASTNOM2","GASTNOM3","GASTNOM4",
    "CAPROP","CAJENA","PENSIO","DESEM","OTRSUB","RENTAS","OTROIN","FUENPRIN",
    "FUENPRIN_RED","IMPEXAC","IMPUEXAC","INTERIN","IMPU_INTER","NUMPERI",
    "COMIMH","COMISD","COMIHU","COMIINV","COMITOT"
]

hogar_06_10 = []
for year in years_06_10:
    path = os.path.join(base_path, str(year), f"Fichero de usuario de hogar a{year}")
    if os.path.exists(path):
        df = pd.read_fwf(path, colspecs=colspecs_hogar_06_10, names=column_names_hogar_06_10, encoding="utf-8")
        df["Año"] = year
        hogar_06_10.append(df)
df_hogar_06_10 = pd.concat(hogar_06_10, ignore_index=True) if hogar_06_10 else None

### --- 2) FICHERO DE GASTOS (2006–2010) ---

In [8]:
colspecs_gastos_06_10 = [
    (0,4),(4,9),(9,14),(14,29),(29,34),(34,46),(46,61),
    (61,74),(74,87),(87,100),(100,113),(113,126),(126,137)
]
column_names_gastos_06_10 = [
    "ANOENC","NUMERO","CODIGO","GASTO","PORCEN","CANTIDAD","GASTMON",
    "GASTNOM1","GASTNOM2","GASTNOM3","GASTNOM4","GASTNOM5","FACTOR"
]

gastos_06_10 = []
for year in years_06_10:
    path = os.path.join(base_path, str(year), f"Fichero de usuario de gastos a{year}")
    if os.path.exists(path):
        df = pd.read_fwf(path, colspecs=colspecs_gastos_06_10, names=column_names_gastos_06_10, encoding="utf-8")
        df["Año"] = year
        gastos_06_10.append(df)
df_gastos_06_10 = pd.concat(gastos_06_10, ignore_index=True) if gastos_06_10 else None

In [9]:
df_gastos_06_10

,ANOENC,NUMERO,CODIGO,GASTO,PORCEN,CANTIDAD,GASTMON,GASTNOM1,GASTNOM2,GASTNOM3,GASTNOM4,GASTNOM5,FACTOR,Año
0,2006,1,1112,29415522,0,10354264.0,29415522.0,NaN,NaN,NaN,NaN,NaN,902614262,2006
1,2006,1,1114,2494436,0,705973.0,2494436.0,NaN,NaN,NaN,NaN,NaN,902614262,2006
2,2006,1,1115,57113177,0,NaN,57113177.0,NaN,NaN,NaN,NaN,NaN,902614262,2006
3,2006,1,1117,6000766,0,NaN,6000766.0,NaN,NaN,NaN,NaN,NaN,902614262,2006
4,2006,1,1121,27085813,0,1882593.0,27085813.0,NaN,NaN,NaN,NaN,NaN,902614262,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10349970,2010,22203,11113,136531276,0,NaN,136531276.0,NaN,NaN,NaN,NaN,NaN,523943601,2010
10349971,2010,22203,11115,42028660,0,NaN,42028660.0,NaN,NaN,NaN,NaN,NaN,523943601,2010
10349972,2010,22203,12111,28685991,0,NaN,28685991.0,NaN,NaN,NaN,NaN,NaN,523943601,2010
10349973,2010,22203,12421,20441660,0,NaN,20441660.0,NaN,NaN,NaN,NaN,NaN,523943601,2010
10349974,2010,22203,12461,18082342,0,NaN,18082342.0,NaN,NaN,NaN,NaN,NaN,523943601,2010

### --- 3) FICHERO DE MIEMBROS (2006–2010) ---

In [10]:
colspecs_miembros_06_10 = [
    (0,4),(4,9),(9,11),(11,13),(13,14),(14,16),(16,18),(18,20),(20,22),(22,24),
    (24,26),(26,28),(28,30),(30,32),(32,34),(34,36),(36,38),(38,40),(40,42),(42,44),
    (44,46),(46,48),(48,50),(50,52),(52,54),(54,56),(56,58),(58,60)
]
column_names_miembros_06_10 = [
    "ANOENC","NUMERO","NORDEN","CATEGMH","SUSPRIN","RELASP","EDAD","SEXO",
    "NACIONA","PAIS","SITURES","ECIVIL","NORDENCO","NORDENPA","NORDENMA",
    "ESTUDIOS","ESTUDRED","SITUACT","SITURED","PERCEP","IMPEXACP","IMPUEXACP",
    "INTERINP","IMPU_INTERP","NINODEP","HIJODEP","ADULTO","FACTOR"
]

miembros_06_10 = []
for year in years_06_10:
    path = os.path.join(base_path, str(year), f"Fichero de usuario de miembros a{year}")
    if os.path.exists(path):
        df = pd.read_fwf(path, colspecs=colspecs_miembros_06_10, names=column_names_miembros_06_10, encoding="utf-8")
        df["Año"] = year
        miembros_06_10.append(df)
df_miembros_06_10 = pd.concat(miembros_06_10, ignore_index=True) if miembros_06_10 else None

In [11]:
df_miembros_06_10

,ANOENC,NUMERO,NORDEN,CATEGMH,SUSPRIN,RELASP,EDAD,SEXO,NACIONA,PAIS,...,PERCEP,IMPEXACP,IMPUEXACP,INTERINP,IMPU_INTERP,NINODEP,HIJODEP,ADULTO,FACTOR,Año
0,2006,1,1,1,1,1,55,6,1,NaN,...,1,NaN,-,9.0,7.0,NaN,6,6,10,2006
1,2006,1,2,1,6,2,50,1,1,NaN,...,1,NaN,-,9.0,3.0,NaN,6,6,10,2006
2,2006,2,1,1,1,1,49,1,1,NaN,...,1,NaN,-,9.0,3.0,NaN,6,6,10,2006
3,2006,2,2,1,6,2,45,6,1,NaN,...,1,NaN,-,9.0,3.0,NaN,6,6,10,2006
4,2006,2,3,1,6,3,22,6,1,NaN,...,6,NaN,NaN,NaN,NaN,NaN,1,1,60,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306024,2010,22202,2,1,6,2,48,6,1,NaN,...,6,NaN,NaN,NaN,NaN,NaN,6,6,10,2010
306025,2010,22202,3,1,6,3,26,6,1,NaN,...,6,NaN,NaN,NaN,NaN,NaN,6,6,10,2010
306026,2010,22202,4,1,6,3,18,6,1,NaN,...,6,NaN,NaN,NaN,NaN,NaN,1,1,60,2010
306027,2010,22203,1,1,1,1,78,1,1,NaN,...,1,NaN,-,9.0,4.0,NaN,6,6,10,2010
306028,2010,22203,2,1,6,2,76,6,1,NaN,...,6,NaN,NaN,NaN,NaN,NaN,6,6,10,2010

## 2011-2015

In [12]:
import os
import pandas as pd

# Ruta base donde están las carpetas 2006, 2007, …, 2015
base_path = "../../data"

years_old = list(range(2011, 2016))

### --- 1) FICHERO DE HOGAR ---

In [13]:
colspecs_hogar = [
    (0, 4), (4, 9), (9,11), (11,12), (12,13), (13,14), (14,15), (15,16), (16,17),
    (17,28), (28,30), (30,31), (31,33), (33,35), (35,37), (37,39), (39,41), (41,43),
    (43,45), (45,47), (47,49), (49,51), (51,53), (53,55), (55,57), (57,59), (59,61),
    (61,63), (63,65), (65,67), (67,69), (69,71), (71,73), (73,75), (75,77), (77,79),
    (79,82), (82,85), (85,87), (87,89), (89,91), (91,93), (93,95), (95,97), (97,99),
    (99,101),(101,103),(103,105),(105,107),(107,109),(109,111),(111,113),(113,115),
    (115,117),(117,119),(119,121),(121,123),(123,125),(125,127),(127,129),(129,131),
    (131,133),(133,135),(135,137),(137,139),(139,141),(141,143),(143,145),(145,147),
    (147,149),(149,151),(151,153),(153,155),(155,157),(157,159),(159,164),(164,165),
    (165,167),(167,168),(168,170),(170,172),(172,174),(174,176),(176,178),(178,180),
    (180,182),(182,184),(184,186),(186,188),(188,189),(189,191),(191,193),(193,195),
    (195,197),(197,199),(199,202),(202,204),(204,206),(206,208),(208,210),(210,211),
    (211,212),(212,214),(214,216),(216,218),(218,220),(220,222),(222,224),(224,226),
    (226,228),(228,230),(230,232),(232,234),(234,236),(236,238),(238,240),(240,242),
    (242,244),(244,246),(246,248),(248,250),(250,252),(252,254),(254,256),(256,258),
    (258,260),(260,262),(262,264),(264,266),(266,268),(268,270),(270,272),(272,274),
    (274,276),(276,278),(278,280),(280,282),(282,284),(284,286),(286,288),(288,290),
    (290,292),(292,294),(294,296),(296,298),(298,300),(300,302),(302,304),(304,306),
    (306,308),(308,310),(310,312),(312,314),(314,316),(316,318),(318,320),(320,322),
    (322,324),(324,326),(326,328),(328,330),(330,332),(332,334),(334,336),(336,338),
    (338,354),(354,359),(359,375),(375,388),(388,401),(401,414),(414,427),(427,429),
    (429,431),(431,433),(433,435),(435,437),(437,439),(439,441),(441,443),(443,445),
    (445,450),(450,451),(451,453),(453,454),(454,456),(456,459),(459,462),(462,465),
    (465,468),(468,471)
]

column_names_hogar = [
    "ANOENC","NUMERO","CCAA","NUTS1","CAPROV","TAMAMU","DENSI","CLAVE","CLATEO",
    "FACTOR","NMIEMB","TAMANO","NMIEMSD","NMIEMHU","NMIEMIN",
    *["NMIEM{}".format(i) for i in range(1,14)],
    "NUMACTI","NUMINACTI","NUMOCUP","NUMNOCUP","NUMESTU","NUMNOESTU",
    "NNINOSD","NHIJOSD","UC1","UC2","PF2TEO","PF2RECO",
    *["TIPHOGAR{}".format(i) for i in range(1,12)],
    "SITUOCUHOG","SITUACTHOG","NORDENSP","EDADSP","SEXOSP",
    "PAISNACODSP","NACIONASP","PAISCODSP","SITURESSP","ECIVILLEGALSP",
    "NORDENCOSP","UNIONSP","CONVIVENCIASP","NORDENPASP","PAISPADRESP",
    "NORDENMASP","PAISMADRESP","ESTUDIOSSP","ESTUDREDSP","SITUACTSP","SITUREDSP",
    "OCUSP","JORNADASP","PERCEPSP","IMPEXACPSP","IMPUEXACPSP","INTERINPSP",
    "IMPUINTERPSP","TRABAJO","OCUPA","OCUPARED","ACTESTB","ACTESTBRED",
    "SITPROF","SECTOR","TIPOCONT","SITSOCI","SITSOCIRE","REGTEN","TIPOEDIF",
    "ZONARES","TIPOCASA","NHABIT","ANNOCON","SUPERF","AGUACALI","FUENAGUA",
    "CALEF","FUENCALE","DISPOSIOV","NUMOVD",
    *["REGTENV{}".format(i) for i in range(1,10)],
    *["MESESV{}".format(i) for i in range(1,10)],
    *["DIASV{}".format(i) for i in range(1,10)],
    *["AGUACV{}".format(i) for i in range(1,10)],
    *["FUENACV{}".format(i) for i in range(1,10)],
    *["CALEFV{}".format(i) for i in range(1,10)],
    *["FUENCAV{}".format(i) for i in range(1,10)],
    "GASTOT","IMPUTGAS","GASTMON","GASTNOM1","GASTNOM2","GASTNOM3","GASTNOM4",
    "CAPROP","CAJENA","PENSIO","DESEM","OTRSUB","RENTAS","OTROIN","FUENPRIN",
    "FUENPRINRED","IMPEXAC","IMPUEXAC","INTERIN","IMPUINTER","NUMPERI",
    "COMIMH","COMISD","COMIHU","COMIINV","COMITOT"
]

hogar_old_dfs = []
for año in years_old:
    path = os.path.join(base_path, str(año), f"Fichero de usuario de hogar a{año}")
    if os.path.exists(path):
        df = pd.read_fwf(path, colspecs=colspecs_hogar, names=column_names_hogar, encoding="utf-8")
        df["Año"] = año
        hogar_old_dfs.append(df)
df_hogar_old = pd.concat(hogar_old_dfs, ignore_index=True) if hogar_old_dfs else None

In [14]:
df_hogar_old

,ANOENC,NUMERO,CCAA,NUTS1,CAPROV,TAMAMU,DENSI,CLAVE,CLATEO,FACTOR,...,IMPUEXAC,INTERIN,IMPUINTER,NUMPERI,COMIMH,COMISD,COMIHU,COMIINV,COMITOT,Año
0,2011,1,10,5,6,2,2,1,1,745065408,...,1,7,6,2,48,0,0,0,48,2011
1,2011,2,8,4,6,3,3,1,1,713066493,...,1,3,6,1,83,0,0,0,83,2011
2,2011,3,13,3,6,4,3,1,1,928101740,...,6,7,6,2,65,0,0,0,65,2011
3,2011,4,9,5,6,5,3,2,2,2076523457,...,6,3,6,1,140,0,0,12,152,2011
4,2011,5,17,2,1,1,1,1,1,138126309,...,1,6,6,2,84,0,0,0,84,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109816,2015,22126,5,7,6,2,2,1,1,4379166284,...,1,3,6,3,0,0,0,0,0,2015
109817,2015,22127,9,5,6,1,1,1,2,2251485110,...,1,3,6,1,56,0,0,0,56,2015
109818,2015,22128,9,5,6,3,2,1,1,1617862740,...,6,4,6,2,54,0,0,16,70,2015
109819,2015,22129,12,1,6,5,3,2,2,1233295394,...,1,1,6,1,14,0,0,0,14,2015
109820,2015,22130,7,4,6,3,2,1,1,559172763,...,6,3,6,2,112,0,0,0,112,2015

### --- 2) FICHERO DE GASTOS ---

In [15]:

colspecs_gastos = [
    (0,4),(4,9),(9,14),(14,29),(29,34),(34,46),(46,61),
    (61,74),(74,87),(87,100),(100,113),(113,126),(126,137)
]
column_names_gastos = [
    "ANOENC","NUMERO","CODIGO","GASTO","PORCEN","CANTIDAD","GASTMON",
    "GASTNOM1","GASTNOM2","GASTNOM3","GASTNOM4","GASTNOM5","FACTOR"
]

gastos_old_dfs = []
for año in years_old:
    path = os.path.join(base_path, str(año), f"Fichero de usuario de gastos a{año}")
    if os.path.exists(path):
        df = pd.read_fwf(path, colspecs=colspecs_gastos, names=column_names_gastos, encoding="utf-8")
        df["Año"] = año
        gastos_old_dfs.append(df)
df_gastos_old = pd.concat(gastos_old_dfs, ignore_index=True) if gastos_old_dfs else None

In [16]:
df_gastos_old

,ANOENC,NUMERO,CODIGO,GASTO,PORCEN,CANTIDAD,GASTMON,GASTNOM1,GASTNOM2,GASTNOM3,GASTNOM4,GASTNOM5,FACTOR,Año
0,2011,1,1112,17975218,0,6410216.0,17975218.0,NaN,NaN,NaN,NaN,NaN,745065408,2011
1,2011,1,1113,23693520,0,4661976.0,23693520.0,NaN,NaN,NaN,NaN,NaN,745065408,2011
2,2011,1,1115,50528045,0,NaN,50528045.0,NaN,NaN,NaN,NaN,NaN,745065408,2011
3,2011,1,1117,1942490,0,NaN,1942490.0,NaN,NaN,NaN,NaN,NaN,745065408,2011
4,2011,1,1125,33205115,0,3884980.0,33205115.0,NaN,NaN,NaN,NaN,NaN,745065408,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10160616,2015,22130,12421,7459365,0,NaN,7459365.0,NaN,NaN,NaN,NaN,NaN,559172763,2015
10160617,2015,22130,12441,18323532,0,NaN,18323532.0,NaN,NaN,NaN,NaN,NaN,559172763,2015
10160618,2015,22130,12461,22559266,0,NaN,22559266.0,NaN,NaN,NaN,NaN,NaN,559172763,2015
10160619,2015,22130,12611,33608236,0,NaN,33608236.0,NaN,NaN,NaN,NaN,NaN,559172763,2015
10160620,2015,22130,12711,6560288,0,NaN,6560288.0,NaN,NaN,NaN,NaN,NaN,559172763,2015

### --- 3) FICHERO DE MIEMBROS ---

In [17]:
colspecs_miembros = [
    (0,4),(4,9),(9,11),(11,13),(13,14),(14,16),(16,18),(18,20),(20,22),(22,24),
    (24,26),(26,28),(28,30),(30,32),(32,34),(34,36),(36,38),(38,40),(40,42),(42,44),
    (44,46),(46,48),(48,50),(50,52),(52,54),(54,56),(56,58),(58,63),(63,64),(64,66),
    (66,67),(67,69),(69,71),(71,73),(73,84)
]
column_names_miembros = [
    "ANOENC","NUMERO","NORDEN","CATEGMH","SUSPRIN","RELASP","EDAD","SEXO",
    "PAISNACIM","NACIONA","PAISNACION","SITURES","ECIVILLEGAL","NORDENCO",
    "UNION","CONVIVENCIA","NORDENPA","PAISPADRE","NORDENMA","PAISMADRE",
    "ESTUDIOS","ESTUDRED","SITUACT","SITURED","OCU","JORNADA","PERCEP",
    "IMPEXACP","IMPUEXACP","INTERINP","IMPUINTERP","NINODEP","HIJODEP",
    "ADULTO","FACTOR"
]

miembros_old_dfs = []
for año in years_old:
    path = os.path.join(base_path, str(año), f"Fichero de usuario de miembros a{año}")
    if os.path.exists(path):
        df = pd.read_fwf(path, colspecs=colspecs_miembros, names=column_names_miembros, encoding="utf-8")
        df["Año"] = año
        miembros_old_dfs.append(df)
df_miembros_old = pd.concat(miembros_old_dfs, ignore_index=True) if miembros_old_dfs else None

In [18]:
df_miembros_old

,ANOENC,NUMERO,NORDEN,CATEGMH,SUSPRIN,RELASP,EDAD,SEXO,PAISNACIM,NACIONA,...,PERCEP,IMPEXACP,IMPUEXACP,INTERINP,IMPUINTERP,NINODEP,HIJODEP,ADULTO,FACTOR,Año
0,2011,1,1,1,1,1,35,1,1,1,...,1,-9.0,NaN,4.0,NaN,6,6,1,745065408,2011
1,2011,1,2,1,6,2,32,6,1,1,...,1,-9.0,NaN,3.0,NaN,6,6,1,745065408,2011
2,2011,1,3,1,6,3,2,1,1,1,...,6,NaN,NaN,NaN,NaN,1,1,6,745065408,2011
3,2011,1,4,1,6,3,2,6,1,1,...,6,NaN,NaN,NaN,NaN,1,1,6,745065408,2011
4,2011,2,1,1,1,1,45,1,1,1,...,1,-9.0,NaN,3.0,NaN,6,6,1,713066493,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301503,2015,22129,1,1,1,1,50,1,1,1,...,1,-9.0,NaN,1.0,NaN,6,6,1,1233295394,2015
301504,2015,22130,1,1,1,1,52,1,1,1,...,1,1067.0,NaN,3.0,NaN,6,6,1,559172763,2015
301505,2015,22130,2,1,6,2,49,6,1,1,...,1,343.0,NaN,1.0,NaN,6,6,1,559172763,2015
301506,2015,22130,3,1,6,3,18,6,1,1,...,6,NaN,NaN,NaN,NaN,1,1,6,559172763,2015
301507,2015,22130,4,1,6,3,12,6,1,1,...,6,NaN,NaN,NaN,NaN,1,1,6,559172763,2015

## 2016-2023

In [19]:
import os
import pandas as pd

# Definir la ruta base donde están los datos
base_path = "../../data"

# Estructura de los archivos
years = list(range(2016, 2024))  # De 2016 a 2023
file_types = ["EPFgastos", "EPFhogar", "EPFmhogar"]

# Diccionario para almacenar los DataFrames
dataframes = {ftype: [] for ftype in file_types}

# Leer los archivos y almacenarlos
for year in years:
    year_path = os.path.join(base_path, str(year))
    for ftype in file_types:
        file_name = f"{ftype}_{year}.csv"
        file_path = os.path.join(year_path, file_name)
        
        if os.path.exists(file_path):
            df = pd.read_csv(file_path, low_memory=False, encoding="utf-8", sep="\t")  # Cargar el CSV
            df["Año"] = year  # Agregar una columna de año
            dataframes[ftype].append(df)

# Unir los archivos en DataFrames únicos por tipo
df_gastos = pd.concat(dataframes["EPFgastos"], ignore_index=True) if dataframes["EPFgastos"] else None
df_hogar = pd.concat(dataframes["EPFhogar"], ignore_index=True) if dataframes["EPFhogar"] else None
df_mhogar = pd.concat(dataframes["EPFmhogar"], ignore_index=True) if dataframes["EPFmhogar"] else None

# 📊 Fichero de Gastos (`EPFgastos_YYYY.csv`)

El **Fichero de Gastos** contiene información detallada sobre los gastos de los hogares encuestados en diferentes categorías de consumo. Cada fila representa un **gasto específico** dentro de un hogar identificado por la variable `NUMERO`.

---

## 📌 **Estructura del Fichero**
Cada registro está organizado en las siguientes **secciones principales**:

1️⃣ **Identificación del Gasto**  
2️⃣ **Importes de Gasto**  
3️⃣ **Desglose e Imputación**  
4️⃣ **Cantidad Física (si aplica)**  
5️⃣ **Distribución del Gasto en Diferentes Modalidades**  

---

## **1️⃣ Identificación del Gasto**
Esta sección permite identificar **el hogar y el tipo de gasto realizado**.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `ANOENC` | Año de la encuesta | `2016 - 2023` |
| `NUMERO` | ID único del hogar en la muestra | `00001 - 25000` |
| `CODIGO` | Código de gasto según clasificación ECOICOP | Ver ANEXO |

📌 **🔎 Importancia**: Permite clasificar los gastos por hogar y tipo de bien o servicio.

---

## **2️⃣ Importes de Gasto**
Registra el importe total del gasto en diferentes modalidades.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `GASTO` | Importe total del gasto monetario y no monetario, ajustado temporal y poblacionalmente | `1 - 999999999999999` |
| `GASTOMON` | Importe del gasto **monetario** | `b` (No aplica), `1 - 999999999999999` |

📌 **🔎 Importancia**: Permite analizar el **nivel de gasto total y gasto en efectivo** de los hogares.

---

## **3️⃣ Desglose e Imputación**
Desglose del gasto total y porcentaje de imputación en la encuesta.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `PORCENDES` | Porcentaje de desglose del gasto total (2 decimales) | `0 - 10000` |
| `PORCENIMP` | Porcentaje de imputación del gasto total (2 decimales) | `0 - 10000` |

📌 **🔎 Importancia**: Indica **qué parte del gasto ha sido estimada o desglosada** en el análisis.

---

## **4️⃣ Cantidad Física (si aplica)**
Algunas categorías de gasto requieren registrar la cantidad física consumida.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `CANTIDAD` | Cantidad del bien o servicio consumido (sólo si aplica) | `b` (No aplica), `1 - 999999999999` |

📌 **🔎 Importancia**: Permite analizar **consumo físico en unidades específicas** (litros, kilos, etc.).

---

## **5️⃣ Distribución del Gasto en Diferentes Modalidades**
El gasto se divide en **monetario y no monetario** según su origen.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `GASTNOM1` | Gasto no monetario por **autoconsumo** | `b` (No aplica), `1 - 9999999999999` |
| `GASTNOM2` | Gasto no monetario por **autosuministro** | `b` (No aplica), `1 - 9999999999999` |
| `GASTNOM3` | Gasto no monetario por **salario en especie** (excluye alquiler imputado) | `b` (No aplica), `1 - 9999999999999` |
| `GASTNOM4` | Gasto no monetario por **alquiler imputado de vivienda** (excluye cesión por trabajo) | `b` (No aplica), `1 - 9999999999999` |
| `GASTNOM5` | Gasto no monetario por **alquiler imputado de vivienda cedida por trabajo** | `b` (No aplica), `1 - 9999999999999` |

📌 **🔎 Importancia**: Permite diferenciar entre **gasto en efectivo y gasto no monetario**.

---

## **6️⃣ Factor de Expansión**
Cada gasto se ajusta para representar mejor a la población general.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `FACTOR` | Factor poblacional (ponderación en la muestra) | **Cualquier valor distinto de `b` y `0`** |

📌 **🔎 Importancia**: Permite escalar los datos **de la muestra a la población total**.

---

## 📊 **Resumen General**
✔️ **Identificación del hogar y tipo de gasto**.  
✔️ **Importes de gasto total y gasto monetario**.  
✔️ **Desglose e imputación de los datos**.  
✔️ **Cantidad física (si aplica)**.  
✔️ **Distribución del gasto en modalidades monetarias y no monetarias**.  

🚀 **Este fichero es clave para estudios sobre el consumo y estructura de gasto de los hogares**.

In [20]:
df_gastos.head()

,ANOENC,NUMERO,CODIGO,GASTO,PORCENDES,PORCENIMP,CANTIDAD,GASTOMON,GASTNOM1,GASTNOM2,GASTNOM3,GASTNOM4,GASTNOM5,FACTOR,Año
0,2016,1,01111,37.22,100.00,100.00,NaN,37.22,NaN,NaN,NaN,NaN,NaN,742.998897,2016
1,2016,1,01112,14.79,100.00,100.00,NaN,14.79,NaN,NaN,NaN,NaN,NaN,742.998897,2016
2,2016,1,01113,113964.81,0.50,83.00,45869.56,113964.81,NaN,NaN,NaN,NaN,NaN,742.998897,2016
3,2016,1,01114,54614.37,0.69,0.69,5811.31,54614.37,NaN,NaN,NaN,NaN,NaN,742.998897,2016
4,2016,1,01115,73.85,100.00,100.00,NaN,73.85,NaN,NaN,NaN,NaN,NaN,742.998897,2016

In [21]:
df_gastos.tail()

,ANOENC,NUMERO,CODIGO,GASTO,PORCENDES,PORCENIMP,CANTIDAD,GASTOMON,GASTNOM1,GASTNOM2,GASTNOM3,GASTNOM4,GASTNOM5,FACTOR,Año
14145054,2023,20707,12521,106228.09,0.0,0.0,NaN,106228.09,NaN,NaN,NaN,NaN,NaN,544.759442,2023
14145055,2023,20707,12522,136189.86,0.0,0.0,NaN,136189.86,NaN,NaN,NaN,NaN,NaN,544.759442,2023
14145056,2023,20707,12541,163427.83,0.0,0.0,NaN,163427.83,NaN,NaN,NaN,NaN,NaN,544.759442,2023
14145057,2023,20707,12620,47712.61,0.0,0.0,NaN,47712.61,NaN,NaN,NaN,NaN,NaN,544.759442,2023
14145058,2023,20707,12702,834970.72,0.0,0.0,NaN,834970.72,NaN,NaN,NaN,NaN,NaN,544.759442,2023

In [22]:
df_gastos.isnull().sum()

ANOENC              0
NUMERO              0
CODIGO              0
GASTO               0
PORCENDES           0
PORCENIMP           0
CANTIDAD      8769872
GASTOMON           13
GASTNOM1     14120229
GASTNOM2     14132376
GASTNOM3     14127685
GASTNOM4     13977016
GASTNOM5     14145027
FACTOR              0
Año                 0
dtype: int64

In [23]:
df_gastos.duplicated().sum()

0

# 📊 Fichero de Hogar (`EPFhogar_YYYY.csv`)

El **Fichero de Hogar** contiene información sobre cada hogar encuestado, incluyendo su composición, ubicación, características de la vivienda, ingresos y gastos. Cada fila representa un **hogar único** identificado por la variable `NUMERO`.

---

## 📌 **Estructura del Fichero**
Cada registro está organizado en **8 secciones principales**:

1️⃣ **Información General**  
2️⃣ **Características del Hogar**  
3️⃣ **Datos del Sustentador Principal**  
4️⃣ **Características de la Vivienda**  
5️⃣ **Otras Viviendas a Disposición del Hogar**  
6️⃣ **Gastos de Consumo del Hogar**  
7️⃣ **Ingresos Regulares del Hogar**  
8️⃣ **Número de Comidas y Cenas Realizadas**  

---

## **1️⃣ Información General**
Contiene datos sobre la ubicación geográfica del hogar y su clasificación en la muestra.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `ANOENC` | Año de la encuesta | `2016 - 2023` |
| `NUMERO` | ID único del hogar en la muestra | `00001 - 22146` |
| `CCAA` | Comunidad Autónoma de residencia | `1` = Andalucía, `2` = Aragón, ..., `19` = Melilla |
| `NUTS1` | Región de España | `1` = Noroeste, `2` = Noreste, ..., `7` = Canarias |
| `CAPROV` | Capital de provincia | `1` = Sí, `6` = No |
| `TAMAMU` | Tamaño del municipio | `1` = +100,000 hab., `2` = 50,000 - 100,000 hab., ..., `5` = -10,000 hab. |
| `DENSIDAD` | Densidad de población | `1` = Alta, `2` = Intermedia, `3` = Diseminada |

📌 **🔎 Importancia**: Permite hacer análisis geográficos y socioeconómicos.

---

## **2️⃣ Características del Hogar**
Información sobre la estructura y composición del hogar.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `NMIEMB` | Número total de miembros en el hogar | `1 - 20` |
| `TAMAÑO` | Tamaño del hogar en categorías | `1` = 1 persona, `2` = 2 personas, ..., `6` = 6 o más |
| `NUMACTI` | Número de miembros activos en el hogar | `0 - 20` |
| `NUMOCU` | Número de miembros ocupados en el hogar | `0 - 20` |
| `NUMESTU` | Número de estudiantes en el hogar | `0 - 20` |
| `NNINOSD` | Número de niños dependientes | `0 - 20`, `-9` = No consta |
| `NHIJOSD` | Número de hijos dependientes | `0 - 19`, `-9` = No consta |

📌 **🔎 Importancia**: Permite analizar **estructura familiar, educación y empleo** dentro de los hogares.

---

## **3️⃣ Datos del Sustentador Principal**
El **sustentador principal** es la persona con mayores ingresos en el hogar.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `NORDENSP` | Número de orden del sustentador principal en el hogar | `01 - 20` |
| `EDADSP` | Edad del sustentador principal | `16 - 84`, `85` = 85 o más años |
| `SEXOSP` | Sexo del sustentador principal | `1` = Hombre, `6` = Mujer |
| `NACIONASP` | Nacionalidad | `1` = Española, `2` = Extranjera, `3` = Doble nacionalidad |
| `SITUACTSP` | Situación laboral | `1` = Trabajando, `2` = Parado, `4` = Jubilado, ..., `8` = Otra inactividad |

📌 **🔎 Importancia**: Permite estudiar **perfil laboral y sociodemográfico del sustentador principal**.

---

## **4️⃣ Características de la Vivienda**
Información sobre la propiedad, tamaño y equipamiento del hogar.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `REGTEN` | Régimen de tenencia | `1` = Propiedad sin hipoteca, `2` = Propiedad con hipoteca, ..., `6` = Cesión gratuita |
| `TIPOEDIF` | Tipo de edificio | `1` = Unifamiliar, `3` = Menos de 10 viviendas, ..., `5` = Otros |
| `SUPERF` | Superficie de la vivienda | `35 - 299` metros cuadrados |
| `AGUACALI` | ¿Tiene agua caliente? | `1` = Sí, `6` = No |
| `CALEF` | ¿Tiene calefacción? | `1` = Sí, `6` = No |

📌 **🔎 Importancia**: Útil para analizar **condiciones de vivienda**.

---

## **5️⃣ Otras Viviendas a Disposición del Hogar**
Identifica si el hogar posee otras viviendas.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `DISPOSIOV` | ¿Tiene otras viviendas? | `1` = Sí, `6` = No |
| `NUMOVD` | Número de viviendas adicionales | `0 - 9` |

📌 **🔎 Importancia**: Permite identificar **segundas residencias y patrimonio inmobiliario**.

---

## **6️⃣ Gastos de Consumo del Hogar**
Gastos anuales del hogar en bienes y servicios.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `GASTOT` | Gasto total del hogar (monetario y no monetario) | `1 - 9999999999999999` |
| `GASTMON` | Gasto monetario del hogar | `1 - 9999999999999999` |
| `GASTNOM1` | Gasto en autoconsumo | `1 - 9999999999999` |
| `GASTNOM4` | Alquiler imputado | `1 - 9999999999999` |

📌 **🔎 Importancia**: Permite analizar **patrones de gasto y consumo**.

---

## **7️⃣ Ingresos Regulares del Hogar**
Identifica las fuentes y montos de ingresos del hogar.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `CAPROP` | Ingresos por cuenta propia | `1` = Sí, `6` = No |
| `CAJENA` | Ingresos por cuenta ajena | `1` = Sí, `6` = No |
| `FUENPRIN` | Principal fuente de ingresos | `1` = Cuenta propia, `2` = Cuenta ajena, ..., `7` = Otros |
| `IMPEXAC` | Ingreso mensual neto exacto | `0 - 99999` |

📌 **🔎 Importancia**: Permite estudiar **niveles de ingresos y fuentes económicas** del hogar.

---

## **8️⃣ Número de Comidas y Cenas Realizadas**
Datos sobre la alimentación en el hogar.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `COMIMH` | Comidas y cenas en el hogar | `0 - 999` |
| `COMISD` | Comidas del servicio doméstico | `0 - 999` |

📌 **🔎 Importancia**: Permite analizar **hábitos de alimentación y consumo**.

---

## 📊 **Resumen General**
✔️ **Identificación y ubicación del hogar**.  
✔️ **Estructura y composición del hogar**.  
✔️ **Perfil del sustentador principal**.  
✔️ **Condiciones de la vivienda**.  
✔️ **Gasto e ingresos del hogar**.  
✔️ **Patrones de alimentación**.  

🚀 **Este fichero es clave para estudios sobre economía doméstica y condiciones de vida.**

In [24]:
pd.set_option('display.max_columns', None)
df_hogar = pd.read_csv("../../data/2021/EPFhogar_2021.csv", sep="\t")

In [25]:
df_hogar.head()

,ANOENC,NUMERO,CCAA,NUTS1,CAPROV,TAMAMU,DENSIDAD,CLAVE,CLATEO,FACTOR,NMIEMB,TAMANO,NMIEMSD,NMIEMHU,NMIEMIN,NMIEM1,NMIEM2,NMIEM3,NMIEM4,NMIEM5,NMIEM6,NMIEM7,NMIEM8,NMIEM9,NMIEM10,NMIEM11,NMIEM12,NMIEM13,NUMACTI,NUMINACTI,NUMOCU,NUMNOCU,NUMESTU,NUMNOESTU,NNINOSD,NHIJOSD,UC1,UC2,PF2TEO,PF2RECO,TIPHOGAR1,TIPHOGAR2,TIPHOGAR3,TIPHOGAR4,TIPHOGAR5,TIPHOGAR6,TIPHOGAR7,TIPHOGAR8,TIPHOGAR9,TIPHOGAR10,TIPHOGAR11,SITUOCUHOG,SITUACTHOG,NORDENSP,EDADSP,SEXOSP,PAISNACSP,NACIONASP,PAISSP,SITURESSP,ECIVILLEGALSP,NORDENCOSP,UNIONSP,CONVIVENCIASP,NORDENPASP,PAISPADRESP,NORDENMASP,PAISMADRESP,ESTUDIOSSP,ESTUDREDSP,SITUACTSP,SITUREDSP,OCUSP,JORNADASP,PERCEPSP,IMPEXACPSP,INTERINPSP,TRABAJO,OCUPA,OCUPARED,ACTESTB,ACTESTBRED,SITPROF,SECTOR,CONTRATO,TIPOCONT,SITSOCI,SITSOCIRE,REGTEN,TIPOEDIF,ZONARES,TIPOCASA,NHABIT,ANNOCON,SUPERF,AGUACALI,FUENAGUA,CALEF,FUENCALE,DISPOSIOV,NUMOVD,REGTENV1,MESESV1,DIASV1,AGUACV1,FUENACV1,CALEFV1,FUENCAV1,REGTENV2,MESESV2,DIASV2,AGUACV2,FUENACV2,CALEFV2,FUENCAV2,REGTENV3,MESESV3,DIASV3,AGUACV3,FUENACV3,CALEFV3,FUENCAV3,REGTENV4,MESESV4,DIASV4,AGUACV4,FUENACV4,CALEFV4,FUENCAV4,REGTENV5,MESESV5,DIASV5,AGUACV5,FUENACV5,CALEFV5,FUENCAV5,REGTENV6,MESESV6,DIASV6,AGUACV6,FUENACV6,CALEFV6,FUENCAV6,REGTENV7,MESESV7,DIASV7,AGUACV7,FUENACV7,CALEFV7,FUENCAV7,REGTENV8,MESESV8,DIASV8,AGUACV8,FUENACV8,CALEFV8,FUENCAV8,REGTENV9,MESESV9,DIASV9,AGUACV9,FUENACV9,CALEFV9,FUENCAV9,GASTOT,IMPUTGAS,GASTMON,GASTNOM1,GASTNOM2,GASTNOM3,GASTNOM4,CAPROP,CAJENA,PENSIO,DESEM,OTRSUB,RENTAS,OTROIN,FUENPRIN,FUENPRINRED,IMPEXAC,INTERIN,NUMPERI,COMIMH,COMISD,COMIHU,COMIINV,COMITOT
0,2021,1,8,4,6,3,2,1,1,585.776970,1,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,1.0,1.0,0,0,1,1,1,4,4,1,2,1,1,1,1,8,8,1,71,6,1,1,,1,3,99,,3,99,1,99,1,3,2,6,2,2,,1,-9.0,02,1,7,4,C,2,2,-9,-9,-9,10,6,1,4,3,2,5,1,90,1,2,1,1,6,NaN,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,3692812.45,0.0,1750165.37,NaN,NaN,NaN,1942647.08,6,6,1,6,6,6,6,3,3,782,2,1,14,0,0,0,14
1,2021,2,3,1,6,1,1,1,2,627.355782,1,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,1.0,1.0,0,0,1,1,1,4,4,1,2,1,1,1,1,8,8,1,73,6,1,1,,1,3,99,,3,99,1,99,1,3,2,6,2,2,,1,1283.0,03,6,,,,,,,,,10,6,1,4,3,2,4,6,65,1,2,1,2,6,NaN,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,9798007.97,0.0,5424793.37,NaN,NaN,NaN,4373214.60,6,6,1,6,6,6,6,3,3,1283,3,1,14,0,0,0,14
2,2021,3,5,7,6,4,2,1,1,501.645421,2,2,0,0,0,2,0,0,2,0,2,0,0,0,0,2,0,0,2,0,2,0,0,2,0,0,1.7,1.5,1,1,6,6,5,6,6,5,3,2,2,3,3,2,2,1,44,1,1,1,,1,1,2,3,2,99,1,99,1,7,4,1,1,1,2,1,930.0,02,1,3,2,S,3,2,-9,-9,-9,5,3,6,2,3,2,4,6,90,1,1,6,,6,NaN,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,11479590.32,0.0,8354996.50,NaN,NaN,NaN,3124593.82,1,6,6,6,6,6,6,1,1,1860,4,2,54,0,0,4,58
3,2021,4,11,4,6,3,2,2,2,605.490446,1,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,1.0,1.0,0,0,1,1,1,2,2,1,2,1,1,1,1,8,8,1,70,1,1,1,,1,3,99,,3,99,1,99,1,3,2,4,2,2,,1,1350.0,03,1,4,3,M,3,1,6,1,1,8,5,1,4,3,2,4,6,70,1,2,1,1,6,NaN,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,7022441.93,0.0,5009218.41,NaN,NaN,NaN,2013223.52,6,6,1,6,6,6,6,3,3,1350,3,1,14,0,0,0,14
4,2021,5,10,5,1,1,1,2,2,1748.502373,1,1,0,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,1.0,1.0,0,0,1,1,1,4,4,1,2,1,1,1,1,8,8,1,69,6,1,1,,1,3,99,,3,99,1,99,1,4,3,4,2,2,,1,1206.0,03,1,4,3,C,2,1,6,1,1,8,5,2,4,3,2,4,6,76,1,2,1,1,6,NaN,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,32068770.61,0.0,20577773.88,NaN,NaN,NaN,11490996.73,6,6,1,6,6,6,6,3,3,1206,3,1,13,0,0,4,17

In [26]:
df_hogar.tail()

,ANOENC,NUMERO,CCAA,NUTS1,CAPROV,TAMAMU,DENSIDAD,CLAVE,CLATEO,FACTOR,NMIEMB,TAMANO,NMIEMSD,NMIEMHU,NMIEMIN,NMIEM1,NMIEM2,NMIEM3,NMIEM4,NMIEM5,NMIEM6,NMIEM7,NMIEM8,NMIEM9,NMIEM10,NMIEM11,NMIEM12,NMIEM13,NUMACTI,NUMINACTI,NUMOCU,NUMNOCU,NUMESTU,NUMNOESTU,NNINOSD,NHIJOSD,UC1,UC2,PF2TEO,PF2RECO,TIPHOGAR1,TIPHOGAR2,TIPHOGAR3,TIPHOGAR4,TIPHOGAR5,TIPHOGAR6,TIPHOGAR7,TIPHOGAR8,TIPHOGAR9,TIPHOGAR10,TIPHOGAR11,SITUOCUHOG,SITUACTHOG,NORDENSP,EDADSP,SEXOSP,PAISNACSP,NACIONASP,PAISSP,SITURESSP,ECIVILLEGALSP,NORDENCOSP,UNIONSP,CONVIVENCIASP,NORDENPASP,PAISPADRESP,NORDENMASP,PAISMADRESP,ESTUDIOSSP,ESTUDREDSP,SITUACTSP,SITUREDSP,OCUSP,JORNADASP,PERCEPSP,IMPEXACPSP,INTERINPSP,TRABAJO,OCUPA,OCUPARED,ACTESTB,ACTESTBRED,SITPROF,SECTOR,CONTRATO,TIPOCONT,SITSOCI,SITSOCIRE,REGTEN,TIPOEDIF,ZONARES,TIPOCASA,NHABIT,ANNOCON,SUPERF,AGUACALI,FUENAGUA,CALEF,FUENCALE,DISPOSIOV,NUMOVD,REGTENV1,MESESV1,DIASV1,AGUACV1,FUENACV1,CALEFV1,FUENCAV1,REGTENV2,MESESV2,DIASV2,AGUACV2,FUENACV2,CALEFV2,FUENCAV2,REGTENV3,MESESV3,DIASV3,AGUACV3,FUENACV3,CALEFV3,FUENCAV3,REGTENV4,MESESV4,DIASV4,AGUACV4,FUENACV4,CALEFV4,FUENCAV4,REGTENV5,MESESV5,DIASV5,AGUACV5,FUENACV5,CALEFV5,FUENCAV5,REGTENV6,MESESV6,DIASV6,AGUACV6,FUENACV6,CALEFV6,FUENCAV6,REGTENV7,MESESV7,DIASV7,AGUACV7,FUENACV7,CALEFV7,FUENCAV7,REGTENV8,MESESV8,DIASV8,AGUACV8,FUENACV8,CALEFV8,FUENCAV8,REGTENV9,MESESV9,DIASV9,AGUACV9,FUENACV9,CALEFV9,FUENCAV9,GASTOT,IMPUTGAS,GASTMON,GASTNOM1,GASTNOM2,GASTNOM3,GASTNOM4,CAPROP,CAJENA,PENSIO,DESEM,OTRSUB,RENTAS,OTROIN,FUENPRIN,FUENPRINRED,IMPEXAC,INTERIN,NUMPERI,COMIMH,COMISD,COMIHU,COMIINV,COMITOT
19389,2021,19390,11,4,6,5,3,1,1,491.129543,5,5,0,0,0,3,2,3,2,3,2,0,3,0,0,2,0,0,1,4,1,4,0,5,3,3,3.4,2.6,2,2,9,9,8,11,11,7,6,3,5,4,4,5,5,1,49,1,4,2,3,1,2,2,1,1,99,4,99,4,7,4,1,1,1,1,1,-9.0,02,1,5,3,G,3,2,-9,-9,-9,5,3,3,2,7,2,5,6,100,1,3,6,,6,NaN,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,6694140.99,0.0,6598534.17,NaN,95606.81,NaN,NaN,1,6,6,1,1,1,1,4,3,828,2,1,112,0,0,0,112
19390,2021,19391,8,4,6,4,2,1,1,627.336739,2,2,0,0,0,2,0,0,2,0,2,0,0,0,0,0,2,0,0,2,0,2,0,2,0,0,1.7,1.5,1,1,5,5,4,5,5,5,3,1,2,3,3,8,8,1,78,1,1,1,,1,2,2,1,1,99,1,99,1,2,1,4,2,2,,1,-9.0,03,1,7,4,C,2,1,6,1,1,8,5,1,2,3,2,7,6,90,1,3,6,,6,NaN,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,5760647.89,0.0,3680173.67,NaN,NaN,NaN,2080474.22,6,6,1,6,6,6,6,3,3,1188,3,1,56,0,0,0,56
19391,2021,19392,9,5,6,3,2,1,1,1016.009331,1,1,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,1,0,1,0,0,1.0,1.0,0,0,2,2,2,3,3,1,1,2,1,1,1,8,8,1,64,6,1,1,,1,4,99,,3,99,1,99,1,6,4,4,2,2,,1,-9.0,04,1,2,2,Q,3,1,1,1,1,8,5,1,4,3,2,4,6,100,1,2,1,4,1,1.0,1,12.0,-9.0,1,3,6,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,27287470.79,0.0,14180101.85,NaN,NaN,NaN,13107368.94,6,6,1,6,6,6,6,3,3,1761,4,1,28,0,0,8,36
19392,2021,19393,8,4,1,2,1,1,1,984.997247,4,4,0,0,0,3,1,1,3,1,3,0,1,1,0,2,0,0,2,2,2,2,1,3,2,2,2.9,2.3,2,2,11,11,7,10,10,7,5,4,5,4,4,2,2,1,49,1,1,1,,1,2,2,1,1,99,1,99,1,5,4,1,1,1,1,1,-9.0,04,1,3,2,O,3,1,1,1,1,4,2,2,4,3,2,4,1,90,1,2,1,2,6,NaN,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,64481881.54,0.0,59521001.22,NaN,NaN,NaN,4960880.32,6,1,6,6,6,6,6,2,2,3370,7,2,109,0,0,90,199
19393,2021,19394,9,5,6,3,2,1,1,2150.099540,3,3,0,0,0,3,0,0,3,0,3,0,0,0,0,1,2,0,1,2,1,2,0,3,0,0,2.4,2.0,2,2,11,11,10,7,7,4,4,4,3,6,6,-9,-9,3,39,1,1,1,,1,1,99,,3,1,1,2,1,3,2,1,1,1,1,1,-9.0,02,1,8,4,G,3,1,6,1,1,1,1,1,4,3,2,8,6,123,1,2,1,1,6,NaN,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,,NaN,NaN,,,,,55527771.60,0.0,37224956.38,NaN,NaN,NaN,18302815.22,6,1,1,6,6,6,6,3,3,2277,5,2,42,0,0,0,42

In [27]:
pd.set_option('display.max_rows', None)

df_hogar.isnull().sum().sort_values(ascending=False)

DIASV7           19394
MESESV9          19394
MESESV6          19394
DIASV6           19394
DIASV8           19394
DIASV9           19394
DIASV5           19394
MESESV7          19394
MESESV5          19394
MESESV8          19394
MESESV4          19391
DIASV4           19391
DIASV3           19370
MESESV3          19370
GASTNOM2         19277
MESESV2          19211
DIASV2           19211
GASTNOM3         18610
GASTNOM1         18303
DIASV1           16484
MESESV1          16484
NUMOVD           16484
GASTNOM4          2388
IMPEXACPSP         137
GASTMON              4
ANOENC               0
FUENACV4             0
AGUACV4              0
FUENCAV3             0
CALEFV4              0
FUENCAV4             0
REGTENV5             0
AGUACV5              0
REGTENV4             0
REGTENV3             0
CALEFV3              0
FUENACV3             0
CALEF                0
FUENCALE             0
DISPOSIOV            0
REGTENV1             0
AGUACV1              0
FUENACV1             0
CALEFV1              0
FUENCAV1             0
REGTENV2             0
AGUACV2              0
FUENACV2             0
CALEFV2              0
FUENCAV2             0
CALEFV5              0
AGUACV3              0
FUENACV5             0
CALEFV6              0
FUENCAV5             0
REGTENV6             0
IMPUTGAS             0
CAPROP               0
CAJENA               0
PENSIO               0
DESEM                0
OTRSUB               0
RENTAS               0
OTROIN               0
FUENPRIN             0
FUENPRINRED          0
IMPEXAC              0
INTERIN              0
NUMPERI              0
COMIMH               0
COMISD               0
COMIHU               0
COMIINV              0
GASTOT               0
FUENCAV9             0
CALEFV9              0
CALEFV7              0
AGUACV6              0
FUENACV6             0
AGUACALI             0
FUENCAV6             0
REGTENV7             0
AGUACV7              0
FUENACV7             0
FUENCAV7             0
FUENACV9             0
REGTENV8             0
AGUACV8              0
FUENACV8             0
CALEFV8              0
FUENCAV8             0
REGTENV9             0
AGUACV9              0
FUENAGUA             0
SUPERF               0
NUMERO               0
NNINOSD              0
NMIEM11              0
NMIEM12              0
NMIEM13              0
NUMACTI              0
NUMINACTI            0
NUMOCU               0
NUMNOCU              0
NUMESTU              0
NUMNOESTU            0
NHIJOSD              0
TIPHOGAR7            0
UC1                  0
UC2                  0
PF2TEO               0
PF2RECO              0
TIPHOGAR1            0
TIPHOGAR2            0
TIPHOGAR3            0
TIPHOGAR4            0
TIPHOGAR5            0
NMIEM10              0
NMIEM9               0
NMIEM8               0
NMIEM7               0
CCAA                 0
NUTS1                0
CAPROV               0
TAMAMU               0
DENSIDAD             0
CLAVE                0
CLATEO               0
FACTOR               0
NMIEMB               0
TAMANO               0
NMIEMSD              0
NMIEMHU              0
NMIEMIN              0
NMIEM1               0
NMIEM2               0
NMIEM3               0
NMIEM4               0
NMIEM5               0
NMIEM6               0
TIPHOGAR6            0
TIPHOGAR8            0
ANNOCON              0
SITPROF              0
OCUSP                0
JORNADASP            0
PERCEPSP             0
INTERINPSP           0
TRABAJO              0
OCUPA                0
OCUPARED             0
ACTESTB              0
ACTESTBRED           0
SECTOR               0
TIPHOGAR9            0
CONTRATO             0
TIPOCONT             0
SITSOCI              0
SITSOCIRE            0
REGTEN               0
TIPOEDIF             0
ZONARES              0
TIPOCASA             0
NHABIT               0
SITUREDSP            0
SITUACTSP            0
ESTUDREDSP           0
ESTUDIOSSP           0
TIPHOGAR10           0
TIPHOGAR11           0
SITUOCUHOG           0
SITUACTHOG           0
NORDENSP             0
EDADSP               0
SEXOSP               0
PAISNACSP            0
NACIONASP            0
PAISSP               0
SITURESSP            0
ECIVILLEGALSP        0
NORDENCOSP           0
UNIONSP              0
CONVIVENCIASP        0
NORDENPASP           0
PAISPADRESP          0
NORDENMASP           0
PAISMADRESP          0
COMITOT              0
dtype: int64

In [28]:
df_hogar.duplicated().sum()

0

# 📊 Fichero de Miembros del Hogar (`EPFmhogar_YYYY.csv`)

El **Fichero de Miembros del Hogar** contiene información individual sobre cada miembro de los hogares encuestados.  
Cada fila representa **una persona** dentro de un hogar identificado por la variable `NUMERO`.

---

## 📌 **Estructura del Fichero**
Cada registro está organizado en las siguientes **secciones principales**:

1️⃣ **Identificación del Miembro del Hogar**  
2️⃣ **Datos Demográficos y Parentesco**  
3️⃣ **Nacionalidad y Lugar de Nacimiento**  
4️⃣ **Situación Familiar**  
5️⃣ **Nivel de Educación**  
6️⃣ **Situación Laboral**  
7️⃣ **Ingresos y Dependencia Económica**  

---

## **1️⃣ Identificación del Miembro del Hogar**
Cada persona en un hogar tiene un número asignado dentro del mismo hogar.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `ANOENC` | Año de la encuesta | `2016-2023` |
| `NUMERO` | ID único del hogar en la muestra | `00001 - 25000` |
| `NORDEN` | Número de orden del miembro dentro del hogar | `01 - 20` |

📌 **🔎 Importancia**: Permite **identificar a cada persona dentro de su hogar**.

---

## **2️⃣ Datos Demográficos y Parentesco**
Información sobre la relación de cada miembro con el sustentador principal.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `CATEGMH` | Categoría del miembro dentro del hogar | `1` = Miembro del hogar, `2` = Servicio doméstico, `3` = Huésped, `4` = Invitado, `-9` = No consta |
| `SUSPRIN` | ¿Es el sustentador principal? | `1` = Sí, `6` = No |
| `RELASP` | Relación con el sustentador principal | `1` = Sustentador, `2` = Cónyuge, `3` = Hijo/a, ..., `6` = Otro parentesco |
| `EDAD` | Edad en la fecha de la entrevista | `0 - 84`, `85` = 85 o más años |
| `SEXO` | Sexo | `1` = Hombre, `6` = Mujer, `-9` = No consta |

📌 **🔎 Importancia**: Permite analizar **estructura familiar y demografía** dentro del hogar.

---

## **3️⃣ Nacionalidad y Lugar de Nacimiento**
Datos sobre la nacionalidad y origen del individuo.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `PAISNACIM` | País de nacimiento | `1` = España, `2` = UE-27, `3` = Resto de Europa, `4` = Resto del mundo, `-9` = No consta |
| `NACIONA` | Nacionalidad | `1` = Española, `2` = Extranjera, `3` = Doble nacionalidad, `-9` = No consta |
| `PAISNACION` | País de nacionalidad extranjera | `1` = UE-27, `2` = Resto de Europa, `3` = Resto del mundo, `b` = No aplica |

📌 **🔎 Importancia**: Permite estudios sobre **movilidad migratoria y origen de la población**.

---

## **4️⃣ Situación Familiar**
Información sobre la convivencia en pareja y datos de los padres.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `ECIVILLEGAL` | Estado civil legal | `1` = Soltero, `2` = Casado, ..., `5` = Divorciado, `-9` = No consta |
| `NORDENCO` | Número de orden del cónyuge o pareja | `01 - 20`, `99` = No tiene pareja |
| `UNION` | Tipo de unión con la pareja | `1` = Matrimonio, `2` = Pareja registrada, `3` = Pareja sin registrar |
| `CONVIVENCIA` | Convivencia en pareja | `1` = Convive con cónyuge, `2` = Con pareja de hecho, `3` = No convive en pareja |
| `NORDENPA` | Número de orden del padre en el hogar | `01 - 20`, `99` = No vive en el hogar |
| `PAISPADRE` | País de nacimiento del padre | `1` = España, `2` = UE-27, `3` = Resto de Europa, `4` = Resto del mundo |

📌 **🔎 Importancia**: Permite estudiar **estructura familiar y convivencia** dentro del hogar.

---

## **5️⃣ Nivel de Educación**
Nivel educativo alcanzado por cada persona.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `ESTUDIOS` | Nivel educativo completado | `1` = Sin estudios, `2` = Primaria, ..., `8` = Doctorado |
| `ESTUDRED` | Nivel educativo reducido | `1` = Menos de secundaria, `2` = Secundaria, ..., `4` = Superior |

📌 **🔎 Importancia**: Permite analizar **niveles educativos y acceso a la educación**.

---

## **6️⃣ Situación Laboral**
Información sobre empleo y actividad económica.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `SITUACT` | Situación laboral la semana anterior | `1` = Trabajando, `3` = Parado, `4` = Jubilado, `5` = Estudiante, ..., `8` = Inactivo |
| `OCU` | ¿Estaba ocupado en la semana anterior? | `1` = Sí, `2` = No |
| `JORNADA` | Tipo de jornada laboral | `1` = Completa, `2` = Parcial |

📌 **🔎 Importancia**: Permite estudiar **tasa de empleo y condiciones laborales**.

---

## **7️⃣ Ingresos y Dependencia Económica**
Información sobre los ingresos regulares de cada persona.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `PERCEP` | ¿Recibe ingresos mensuales? | `1` = Sí, `6` = No |
| `IMPEXACP` | Importe exacto de los ingresos mensuales | `0 - 99999` |
| `INTERINP` | Intervalo de ingresos mensuales | `1` = Menos de 500€, ..., `7` = Más de 3000€ |

📌 **🔎 Importancia**: Permite estudiar **distribución de ingresos y desigualdad económica**.

---

## **8️⃣ Dependencia Económica**
Clasificación de los miembros según su dependencia económica.

| **Variable** | **Descripción** | **Valores** |
|-------------|----------------|-------------|
| `NINODEP` | ¿Es un niño dependiente? | `1` = Sí, `2` = No, `-9` = No consta |
| `HIJODEP` | ¿Es un hijo dependiente? | `1` = Sí, `6` = No, `-9` = No consta |
| `ADULTO` | ¿Es adulto? | `1` = Sí, `6` = No, `-9` = No consta |

📌 **🔎 Importancia**: Permite definir **estructuras familiares y dependencias económicas**.

---

## 📊 **Resumen General**
✔️ **Identificación dentro del hogar**.  
✔️ **Relación con el sustentador principal**.  
✔️ **Nacionalidad y lugar de nacimiento**.  
✔️ **Situación familiar y convivencia**.  
✔️ **Nivel educativo**.  
✔️ **Situación laboral y actividad económica**.  
✔️ **Ingresos individuales**.  
✔️ **Clasificación según su rol en el hogar**.  

🚀 **Este fichero es clave para estudios sobre demografía, educación, empleo e ingresos de la población**.

In [29]:
pd.set_option('display.max_columns', None)
df_mhogar = pd.read_csv("../../data/2021/EPFmhogar_2021.csv", sep="\t")

In [30]:
df_mhogar.head()

,ANOENC,NUMERO,NORDEN,CATEGMH,SUSPRIN,RELASP,EDAD,SEXO,PAISNACIM,NACIONA,PAISNACION,SITURES,ECIVILLEGAL,NORDENCO,UNION,CONVIVENCIA,NORDENPA,PAISPADRE,NORDENMA,PAISMADRE,ESTUDIOS,ESTUDRED,SITUACT,SITURED,OCU,JORNADA,PERCEP,IMPEXACP,INTERINP,NINODEP,HIJODEP,ADULTO,FACTOR
0,2021,1,1,1,1,1,71,6,1,1,,1,3,99,,3,99,1,99,1,3,2,6,2,2,,1,-9.0,02,6,6,1,585.776970
1,2021,2,1,1,1,1,73,6,1,1,,1,3,99,,3,99,1,99,1,3,2,6,2,2,,1,1283.0,03,6,6,1,627.355782
2,2021,3,1,1,1,1,44,1,1,1,,1,1,2,3,2,99,1,99,1,7,4,1,1,1,2,1,930.0,02,6,6,1,501.645421
3,2021,3,2,1,6,2,44,6,1,1,,1,1,1,3,2,99,1,99,1,7,4,1,1,1,2,1,930.0,02,6,6,1,501.645421
4,2021,4,1,1,1,1,70,1,1,1,,1,3,99,,3,99,1,99,1,3,2,4,2,2,,1,1350.0,03,6,6,1,605.490446

In [31]:
df_mhogar.tail()

,ANOENC,NUMERO,NORDEN,CATEGMH,SUSPRIN,RELASP,EDAD,SEXO,PAISNACIM,NACIONA,PAISNACION,SITURES,ECIVILLEGAL,NORDENCO,UNION,CONVIVENCIA,NORDENPA,PAISPADRE,NORDENMA,PAISMADRE,ESTUDIOS,ESTUDRED,SITUACT,SITURED,OCU,JORNADA,PERCEP,IMPEXACP,INTERINP,NINODEP,HIJODEP,ADULTO,FACTOR
49399,2021,19393,3,1,6,3,18,1,1,1,,1,1,99,,3,1,1,2,1,4,3,5,2,2,,6,NaN,,1,1,6,984.997247
49400,2021,19393,4,1,6,3,13,1,1,1,,1,1,99,,3,1,1,2,1,,,,,,,6,NaN,,1,1,6,984.997247
49401,2021,19394,1,1,6,4,73,1,1,1,,1,2,2,1,1,99,1,99,1,2,1,4,2,2,,1,-9.0,03,6,6,1,2150.099540
49402,2021,19394,2,1,6,4,66,6,1,1,,1,2,1,1,1,99,1,99,1,2,1,6,2,2,,6,NaN,,6,6,1,2150.099540
49403,2021,19394,3,1,1,1,39,1,1,1,,1,1,99,,3,1,1,2,1,3,2,1,1,1,1,1,-9.0,02,6,6,1,2150.099540

In [32]:
df_mhogar.isnull().sum().sort_values(ascending=False)

IMPEXACP       16185
ANOENC             0
PAISPADRE          0
ADULTO             0
HIJODEP            0
NINODEP            0
INTERINP           0
PERCEP             0
JORNADA            0
OCU                0
SITURED            0
SITUACT            0
ESTUDRED           0
ESTUDIOS           0
PAISMADRE          0
NORDENMA           0
NORDENPA           0
NUMERO             0
CONVIVENCIA        0
UNION              0
NORDENCO           0
ECIVILLEGAL        0
SITURES            0
PAISNACION         0
NACIONA            0
PAISNACIM          0
SEXO               0
EDAD               0
RELASP             0
SUSPRIN            0
CATEGMH            0
NORDEN             0
FACTOR             0
dtype: int64

In [33]:
df_mhogar.duplicated().sum()

0

## Temperatura medias por Comunidad Autónoma

Fuente: https://suelosolar.com/guiasolares/acs/temproves.asp

In [34]:
temperaturas_medias = {
    'ÁLAVA': 13.7,
    'ALBACETE': 15.4,
    'ALICANTE': 20.1,
    'ALMERÍA': 20.5,
    'ASTURIAS': 14.3,
    'ÁVILA': 12.3,
    'BADAJOZ': 18.9,
    'BALEARES': 18.8,
    'BARCELONA': 18.5,
    'BURGOS': 12.5,
    'CÁCERES': 18.3,
    'CÁDIZ': 20.3,
    'CANTABRIA': 15.8,
    'CASTELLÓN': 19.2,
    'CEUTA': 19.6,
    'CIUDAD REAL': 16.3,
    'CÓRDOBA': 20.0,
    'LA CORUÑA': 15.9,
    'CUENCA': 13.6,
    'GIRONA': 17.0,
    'GRANADA': 17.3,
    'GUADALAJARA': 15.8,
    'GUIPÚZCOA': 15.3,
    'HUELVA': 19.9,
    'HUESCA': 15.6,
    'JAÉN': 19.0,
    'LEÓN': 13.3,
    'LÉRIDA': 17.1,
    'LUGO': 14.0,
    'MADRID': 15.6,
    'MÁLAGA': 20.7,
    'MELILLA': 20.6,
    'MURCIA': 19.3,
    'NAVARRA': 14.3,
    'OURENSE': 15.8,
    'PALENCIA': 13.8,
    'LAS PALMAS': 22.9,
    'PONTEVEDRA': 16.6,
    'LA RIOJA': 15.3,
    'SALAMANCA': 14.0,
    'SANTA CRUZ DE TENERIFE': 22.8,
    'SEGOVIA': 13.5,
    'SEVILLA': 19.3,
    'SORIA': 12.6,
    'TARRAGONA': 17.9,
    'TERUEL': 13.6,
    'TOLEDO': 16.9,
    'VALENCIA': 18.8,
    'VALLADOLID': 13.3,
    'VIZCAYA': 15.4,
    'ZAMORA': 14.3,
    'ZARAGOZA': 16.8
}

In [35]:
provincias_comunidades = {
    "LA CORUÑA": (12, "Galicia"),
    "ALBACETE": (7, "Castilla-La Mancha"),
    "ALICANTE": (10, "Comunidad Valenciana"),
    "ALMERÍA": (1, "Andalucía"),
    "ÁLAVA": (16, "País Vasco"),
    "ASTURIAS": (3, "Principado de Asturias"),
    "ÁVILA": (8, "Castilla y León"),
    "BADAJOZ": (11, "Extremadura"),
    "BALEARES": (4, "Islas Baleares"),
    "BARCELONA": (9, "Cataluña"),
    "VIZCAYA": (16, "País Vasco"),
    "BURGOS": (8, "Castilla y León"),
    "CÁCERES": (11, "Extremadura"),
    "CÁDIZ": (1, "Andalucía"),
    "CANTABRIA": (6, "Cantabria"),
    "CASTELLÓN": (10, "Comunidad Valenciana"),
    "CEUTA": (18, "Ceuta"),
    "CIUDAD REAL": (7, "Castilla-La Mancha"),
    "CÓRDOBA": (1, "Andalucía"),
    "CUENCA": (7, "Castilla-La Mancha"),
    "GUIPÚZCOA": (16, "País Vasco"),
    "GIRONA": (9, "Cataluña"),
    "GRANADA": (1, "Andalucía"),
    "GUADALAJARA": (7, "Castilla-La Mancha"),
    "HUELVA": (1, "Andalucía"),
    "HUESCA": (2, "Aragón"),
    "JAÉN": (1, "Andalucía"),
    "LA RIOJA": (17, "La Rioja"),
    "LAS PALMAS": (5, "Canarias"),
    "LEÓN": (8, "Castilla y León"),
    "LÉRIDA": (9, "Cataluña"),
    "LUGO": (12, "Galicia"),
    "MADRID": (13, "Madrid"),
    "MÁLAGA": (1, "Andalucía"),
    "MELILLA": (19, "Melilla"),
    "MURCIA": (14, "Murcia"),
    "NAVARRA": (15, "Navarra"),
    "OURENSE": (12, "Galicia"),
    "PALENCIA": (8, "Castilla y León"),
    "PONTEVEDRA": (12, "Galicia"),
    "SALAMANCA": (8, "Castilla y León"),
    "SANTA CRUZ DE TENERIFE": (5, "Canarias"),
    "SEGOVIA": (8, "Castilla y León"),
    "SEVILLA": (1, "Andalucía"),
    "SORIA": (8, "Castilla y León"),
    "TARRAGONA": (9, "Cataluña"),
    "TERUEL": (2, "Aragón"),
    "TOLEDO": (7, "Castilla-La Mancha"),
    "VALENCIA": (10, "Comunidad Valenciana"),
    "VALLADOLID": (8, "Castilla y León"),
    "ZAMORA": (8, "Castilla y León"),
    "ZARAGOZA": (2, "Aragón")
}

In [36]:
import numpy as np
from collections import defaultdict

In [37]:
def calcular_temperatura_media_comunidades_codigo(temperaturas_medias, provincias_comunidades):
    from collections import defaultdict
    import pandas as pd

    comunidad_temps = defaultdict(list)
    for provincia, temp in temperaturas_medias.items():
        if provincia in provincias_comunidades:
            cod_comunidad = provincias_comunidades[provincia][0]
            comunidad_temps[cod_comunidad].append(temp)

    data = {
        "CCAA": [],
        "T_med": []
    }

    for cod_comunidad, temps in comunidad_temps.items():
        data["CCAA"].append(cod_comunidad)
        data["T_med"].append(round(sum(temps) / len(temps), 2))

    df = pd.DataFrame(data).sort_values(by="CCAA").reset_index(drop=True)
    return df

df_comunidades = calcular_temperatura_media_comunidades_codigo(temperaturas_medias, provincias_comunidades)

In [ ]:
df_comunidades.head()

    CCAA  T_med
0      1  19.62
1      2  15.33
2      3  14.30
3      4  18.80
4      5  22.85
5      6  15.80
6      7  15.60
7      8  13.29
8      9  17.62
9     10  19.37
10    11  18.60
11    12  15.58
12    13  15.60
13    14  19.30
14    15  14.30
15    16  14.80
16    17  15.30
17    18  19.60
18    19  20.60

In [39]:
csv_filename = "../../data/temperaturas_comunidades.csv"
df_comunidades.to_csv(csv_filename, sep="\t", index=False)

## Inflación en España anual de 2006 a 2023 (Comunidades Autónomas y Nacional) 

Fuente: https://www.ine.es/varipc/index.do;jsessionid=17EB79ED99629EA46A0371AE1C8421F5.varipc02

In [40]:
import pandas as pd

In [41]:
inflacion_total = {
    2006: {
        "Andalucía": 2.9, "Aragón": 2.9, "Asturias": 2.4, "Islas Baleares": 2.8, "Canarias": 2.0,
        "Cantabria": 2.7, "Castilla y León": 2.7, "Castilla-La Mancha": 2.6, "Cataluña": 2.8,
        "Comunidad Valenciana": 2.6, "Extremadura": 2.4, "Galicia": 2.6, "Madrid": 2.7,
        "Murcia": 2.5, "Navarra": 2.1, "País Vasco": 2.6, "La Rioja": 3.1, "Ceuta": 2.4, "Melilla": 2.9
    },
    2007: {
        "Andalucía": 4.2, "Aragón": 4.4, "Asturias": 4.1, "Islas Baleares": 3.9, "Canarias": 4.3,
        "Cantabria": 4.4, "Castilla y León": 4.5, "Castilla-La Mancha": 4.5, "Cataluña": 4.3,
        "Comunidad Valenciana": 4.3, "Extremadura": 4.2, "Galicia": 4.1, "Madrid": 4.0,
        "Murcia": 4.7, "Navarra": 4.2, "País Vasco": 4.2, "La Rioja": 3.9, "Ceuta": 3.0, "Melilla": 3.8
    },
    2008: {
        "Andalucía": 1.3, "Aragón": 1.6, "Asturias": 1.6, "Islas Baleares": 1.3, "Canarias": 1.6,
        "Cantabria": 1.3, "Castilla y León": 1.1, "Castilla-La Mancha": 0.9, "Cataluña": 1.6,
        "Comunidad Valenciana": 1.5, "Extremadura": 1.3, "Galicia": 1.2, "Madrid": 1.6,
        "Murcia": 1.1, "Navarra": 1.2, "País Vasco": 1.9, "La Rioja": 1.6, "Ceuta": 2.1, "Melilla": 1.8
    },
    2009: {
        "Andalucía": 0.6, "Aragón": 0.8, "Asturias": 0.7, "Islas Baleares": 0.8, "Canarias": -0.4,
        "Cantabria": 1.0, "Castilla y León": 0.7, "Castilla-La Mancha": 0.5, "Cataluña": 1.2,
        "Comunidad Valenciana": 0.8, "Extremadura": 0.5, "Galicia": 0.9, "Madrid": 0.9,
        "Murcia": 0.6, "Navarra": 0.5, "País Vasco": 1.0, "La Rioja": 0.5, "Ceuta": 1.4, "Melilla": 1.3
    },
    2010: {
        "Andalucía": 3.2, "Aragón": 2.9, "Asturias": 3.2, "Islas Baleares": 2.7, "Canarias": 2.0,
        "Cantabria": 3.1, "Castilla y León": 3.2, "Castilla-La Mancha": 3.4, "Cataluña": 3.0,
        "Comunidad Valenciana": 2.9, "Extremadura": 3.0, "Galicia": 3.1, "Madrid": 3.0,
        "Murcia": 3.0, "Navarra": 2.8, "País Vasco": 2.8, "La Rioja": 3.0, "Ceuta": 1.9, "Melilla": 2.4
    },
    2011: {
        "Andalucía": 2.1, "Aragón": 2.4, "Asturias": 2.7, "Islas Baleares": 2.3, "Canarias": 2.0,
        "Cantabria": 2.3, "Castilla y León": 2.7, "Castilla-La Mancha": 2.6, "Cataluña": 2.5,
        "Comunidad Valenciana": 2.1, "Extremadura": 2.4, "Galicia": 2.5, "Madrid": 2.5,
        "Murcia": 2.2, "Navarra": 2.6, "País Vasco": 2.4, "La Rioja": 2.7, "Ceuta": 2.0, "Melilla": 1.5
    },
    2012: {
        "Andalucía": 2.6, "Aragón": 2.7, "Asturias": 2.6, "Islas Baleares": 3.1, "Canarias": 2.5,
        "Cantabria": 3.6, "Castilla y León": 3.1, "Castilla-La Mancha": 2.7, "Cataluña": 3.6,
        "Comunidad Valenciana": 3.0, "Extremadura": 2.8, "Galicia": 2.6, "Madrid": 2.5,
        "Murcia": 2.9, "Navarra": 2.7, "País Vasco": 2.7, "La Rioja": 2.8, "Ceuta": 2.2, "Melilla": 1.6
    },
    2013: {
        "Andalucía": 0.3, "Aragón": 0.2, "Asturias": 0.2, "Islas Baleares": 0.5, "Canarias": -0.4,
        "Cantabria": 0.6, "Castilla y León": 0.5, "Castilla-La Mancha": 0.2, "Cataluña": 0.2,
        "Comunidad Valenciana": 0.2, "Extremadura": 0.0, "Galicia": 0.5, "Madrid": 0.2,
        "Murcia": 0.4, "Navarra": 0.0, "País Vasco": 0.6, "La Rioja": 0.1, "Ceuta": -0.1, "Melilla": -0.4
    },
    2014: {
        "Andalucía": -1.2, "Aragón": -1.2, "Asturias": -1.1, "Islas Baleares": -0.8, "Canarias": -1.1,
        "Cantabria": -1.3, "Castilla y León": -1.2, "Castilla-La Mancha": -1.5, "Cataluña": -0.7,
        "Comunidad Valenciana": -1.2, "Extremadura": -1.2, "Galicia": -1.0, "Madrid": -1.1,
        "Murcia": -1.3, "Navarra": -1.2, "País Vasco": -0.7, "La Rioja": -0.9, "Ceuta": -0.5, "Melilla": -0.6
    },
    2015: {
        "Andalucía": 0.0, "Aragón": -0.1, "Asturias": -0.2, "Islas Baleares": 0.3, "Canarias": -0.4,
        "Cantabria": -0.4, "Castilla y León": -0.3, "Castilla-La Mancha": -0.3, "Cataluña": 0.3,
        "Comunidad Valenciana": 0.2, "Extremadura": -0.3, "Galicia": -0.2, "Madrid": 0.0,
        "Murcia": -0.1, "Navarra": -0.1, "País Vasco": 0.3, "La Rioja": 0.1, "Ceuta": -0.6, "Melilla": -0.3
    }
}

# Redefinimos también los datos de 2016 a 2023 para completar el contexto
datos_inflacion = {
    2016: {"Andalucía": 1.6, "Aragón": 1.6, "Asturias": 1.6, "Islas Baleares": 1.6, "Canarias": 1.3,
           "Cantabria": 1.5, "Castilla y León": 1.6, "Castilla-La Mancha": 1.6, "Cataluña": 1.9,
           "Comunidad Valenciana": 1.3, "Extremadura": 1.5, "Galicia": 1.6, "Madrid": 1.4,
           "Murcia": 1.6, "Navarra": 1.8, "País Vasco": 1.5, "La Rioja": 1.5, "Ceuta": 1.1, "Melilla": 1.4},

    2017: {"Andalucía": 1.1, "Aragón": 0.9, "Asturias": 0.9, "Islas Baleares": 1.3, "Canarias": 1.1,
           "Cantabria": 1.2, "Castilla y León": 1.0, "Castilla-La Mancha": 1.1, "Cataluña": 1.2,
           "Comunidad Valenciana": 1.1, "Extremadura": 0.8, "Galicia": 1.2, "Madrid": 1.2,
           "Murcia": 0.6, "Navarra": 0.6, "País Vasco": 1.1, "La Rioja": 0.6, "Ceuta": 0.6, "Melilla": 1.4},

    2018: {"Andalucía": 1.0, "Aragón": 1.2, "Asturias": 1.1, "Islas Baleares": 0.7, "Canarias": 1.4,
           "Cantabria": 1.0, "Castilla y León": 1.2, "Castilla-La Mancha": 1.2, "Cataluña": 1.4,
           "Comunidad Valenciana": 1.1, "Extremadura": 1.1, "Galicia": 1.0, "Madrid": 1.4,
           "Murcia": 0.9, "Navarra": 1.3, "País Vasco": 1.0, "La Rioja": 1.2, "Ceuta": 0.7, "Melilla": -0.3},

    2019: {"Andalucía": 0.5, "Aragón": 0.8, "Asturias": 0.4, "Islas Baleares": 1.0, "Canarias": 0.4,
           "Cantabria": 0.9, "Castilla y León": 1.0, "Castilla-La Mancha": 0.9, "Cataluña": 0.9,
           "Comunidad Valenciana": 0.7, "Extremadura": 0.7, "Galicia": 0.7, "Madrid": 0.9,
           "Murcia": 0.7, "Navarra": 1.3, "País Vasco": 1.2, "La Rioja": 1.0, "Ceuta": 0.3, "Melilla": 0.5},

    2020: {"Andalucía": -0.3, "Aragón": -0.6, "Asturias": -0.6, "Islas Baleares": -0.4, "Canarias": -0.1,
           "Cantabria": -0.5, "Castilla y León": -0.7, "Castilla-La Mancha": -0.9, "Cataluña": -0.6,
           "Comunidad Valenciana": -0.5, "Extremadura": -0.5, "Galicia": -0.4, "Madrid": -0.8,
           "Murcia": -0.4, "Navarra": -0.6, "País Vasco": -0.3, "La Rioja": -0.8, "Ceuta": -0.4, "Melilla": 0.1},

    2021: {"Andalucía": 6.7, "Aragón": 7.2, "Asturias": 6.2, "Islas Baleares": 6.5, "Canarias": 5.8,
           "Cantabria": 6.8, "Castilla y León": 7.3, "Castilla-La Mancha": 7.6, "Cataluña": 6.1,
           "Comunidad Valenciana": 6.8, "Extremadura": 7.1, "Galicia": 6.7, "Madrid": 6.2,
           "Murcia": 6.3, "Navarra": 6.6, "País Vasco": 6.4, "La Rioja": 7.0, "Ceuta": 5.5, "Melilla": 6.9},

    2022: {"Andalucía": 6.2, "Aragón": 5.9, "Asturias": 5.8, "Islas Baleares": 5.5, "Canarias": 5.8,
           "Cantabria": 5.3, "Castilla y León": 6.5, "Castilla-La Mancha": 6.8, "Cataluña": 5.2,
           "Comunidad Valenciana": 5.5, "Extremadura": 6.5, "Galicia": 6.4, "Madrid": 4.9,
           "Murcia": 6.3, "Navarra": 6.4, "País Vasco": 5.4, "La Rioja": 5.8, "Ceuta": 6.2, "Melilla": 6.6},

    2023: {"Andalucía": 3.3, "Aragón": 2.5, "Asturias": 2.9, "Islas Baleares": 3.3, "Canarias": 3.8,
           "Cantabria": 3.3, "Castilla y León": 2.8, "Castilla-La Mancha": 3.4, "Cataluña": 3.2,
           "Comunidad Valenciana": 3.3, "Extremadura": 2.4, "Galicia": 3.2, "Madrid": 2.7,
           "Murcia": 3.0, "Navarra": 2.9, "País Vasco": 3.1, "La Rioja": 3.1, "Ceuta": 3.3, "Melilla": 3.4}
}

# Fusionamos y generamos el DataFrame nuevamente
inflacion_total.update(datos_inflacion)

data = {"Año": [], "Comunidad Autónoma": [], "Inflación (%)": []}
for año, comunidades in inflacion_total.items():
    for comunidad, inflacion in comunidades.items():
        data["Año"].append(año)
        data["Comunidad Autónoma"].append(comunidad)
        data["Inflación (%)"].append(inflacion)

df_inflacion = pd.DataFrame(data)

In [ ]:
df_inflacion.head(5)

      Año    Comunidad Autónoma  Inflación (%)
0    2006             Andalucía            2.9
1    2006                Aragón            2.9
2    2006              Asturias            2.4
3    2006        Islas Baleares            2.8
4    2006              Canarias            2.0
5    2006             Cantabria            2.7
6    2006       Castilla y León            2.7
7    2006    Castilla-La Mancha            2.6
8    2006              Cataluña            2.8
9    2006  Comunidad Valenciana            2.6
10   2006           Extremadura            2.4
11   2006               Galicia            2.6
12   2006                Madrid            2.7
13   2006                Murcia            2.5
14   2006               Navarra            2.1
15   2006            País Vasco            2.6
16   2006              La Rioja            3.1
17   2006                 Ceuta            2.4
18   2006               Melilla            2.9
19   2007             Andalucía            4.2
20   2007                Aragón            4.4
21   2007              Asturias            4.1
22   2007        Islas Baleares            3.9
23   2007              Canarias            4.3
24   2007             Cantabria            4.4
25   2007       Castilla y León            4.5
26   2007    Castilla-La Mancha            4.5
27   2007              Cataluña            4.3
28   2007  Comunidad Valenciana            4.3
29   2007           Extremadura            4.2
30   2007               Galicia            4.1
31   2007                Madrid            4.0
32   2007                Murcia            4.7
33   2007               Navarra            4.2
34   2007            País Vasco            4.2
35   2007              La Rioja            3.9
36   2007                 Ceuta            3.0
37   2007               Melilla            3.8
38   2008             Andalucía            1.3
39   2008                Aragón            1.6
40   2008              Asturias            1.6
41   2008        Islas Baleares            1.3
42   2008              Canarias            1.6
43   2008             Cantabria            1.3
44   2008       Castilla y León            1.1
45   2008    Castilla-La Mancha            0.9
46   2008              Cataluña            1.6
47   2008  Comunidad Valenciana            1.5
48   2008           Extremadura            1.3
49   2008               Galicia            1.2
50   2008                Madrid            1.6
51   2008                Murcia            1.1
52   2008               Navarra            1.2
53   2008            País Vasco            1.9
54   2008              La Rioja            1.6
55   2008                 Ceuta            2.1
56   2008               Melilla            1.8
57   2009             Andalucía            0.6
58   2009                Aragón            0.8
59   2009              Asturias            0.7
60   2009        Islas Baleares            0.8
61   2009              Canarias           -0.4
62   2009             Cantabria            1.0
63   2009       Castilla y León            0.7
64   2009    Castilla-La Mancha            0.5
65   2009              Cataluña            1.2
66   2009  Comunidad Valenciana            0.8
67   2009           Extremadura            0.5
68   2009               Galicia            0.9
69   2009                Madrid            0.9
70   2009                Murcia            0.6
71   2009               Navarra            0.5
72   2009            País Vasco            1.0
73   2009              La Rioja            0.5
74   2009                 Ceuta            1.4
75   2009               Melilla            1.3
76   2010             Andalucía            3.2
77   2010                Aragón            2.9
78   2010              Asturias            3.2
79   2010        Islas Baleares            2.7
80   2010              Canarias            2.0
81   2010             Cantabria            3.1
82   2010       Castilla y León            3.2
83   2010    Castilla-La Mancha            3.4
84   2010              Cataluña            3.0
85   2010  Comunidad Valenciana            2.9
86   2010           Extremadura            3.0
87   2010               Galicia            3.1
88   2010                Madrid            3.0
89   2010                Murcia            3.0
90   2010               Navarra            2.8
91   2010            País Vasco            2.8
92   2010              La Rioja            3.0
93   2010                 Ceuta            1.9
94   2010               Melilla            2.4
95   2011             Andalucía            2.1
96   2011                Aragón            2.4
97   2011              Asturias            2.7
98   2011        Islas Baleares            2.3
99   2011              Canarias            2.0
100  2011             Cantabria            2.3
101  2011       Castilla y León            2.7
102  2011    Castilla-La Mancha            2.6
103  2011              Cataluña            2.5
104  2011  Comunidad Valenciana            2.1
105  2011           Extremadura            2.4
106  2011               Galicia            2.5
107  2011                Madrid            2.5
108  2011                Murcia            2.2
109  2011               Navarra            2.6
110  2011            País Vasco            2.4
111  2011              La Rioja            2.7
112  2011                 Ceuta            2.0
113  2011               Melilla            1.5
114  2012             Andalucía            2.6
115  2012                Aragón            2.7
116  2012              Asturias            2.6
117  2012        Islas Baleares            3.1
118  2012              Canarias            2.5
119  2012             Cantabria            3.6
120  2012       Castilla y León            3.1
121  2012    Castilla-La Mancha            2.7
122  2012              Cataluña            3.6
123  2012  Comunidad Valenciana            3.0
124  2012           Extremadura            2.8
125  2012               Galicia            2.6
126  2012                Madrid            2.5
127  2012                Murcia            2.9
128  2012               Navarra            2.7
129  2012            País Vasco            2.7
130  2012              La Rioja            2.8
131  2012                 Ceuta            2.2
132  2012               Melilla            1.6
133  2013             Andalucía            0.3
134  2013                Aragón            0.2
135  2013              Asturias            0.2
136  2013        Islas Baleares            0.5
137  2013              Canarias           -0.4
138  2013             Cantabria            0.6
139  2013       Castilla y León            0.5
140  2013    Castilla-La Mancha            0.2
141  2013              Cataluña            0.2
142  2013  Comunidad Valenciana            0.2
143  2013           Extremadura            0.0
144  2013               Galicia            0.5
145  2013                Madrid            0.2
146  2013                Murcia            0.4
147  2013               Navarra            0.0
148  2013            País Vasco            0.6
149  2013              La Rioja            0.1
150  2013                 Ceuta           -0.1
151  2013               Melilla           -0.4
152  2014             Andalucía           -1.2
153  2014                Aragón           -1.2
154  2014              Asturias           -1.1
155  2014        Islas Baleares           -0.8
156  2014              Canarias           -1.1
157  2014             Cantabria           -1.3
158  2014       Castilla y León           -1.2
159  2014    Castilla-La Mancha           -1.5
160  2014              Cataluña           -0.7
161  2014  Comunidad Valenciana           -1.2
162  2014           Extremadura           -1.2
163  2014               Galicia           -1.0
164  2014                Madrid           -1.1
165  2014                Murcia           -1.3
166  2014               Navarra           -1.2
167  2014            País Vasco           -0.7
168  2014              La Rioja           -0.9
169  2014                 Ceuta           -0.5
170  2014               Melilla           -0.6
171  2015             Andalucía            0.0
172  2015                Aragón           -0.1
173  2015              Asturias           -0.2
174  2015        Islas Baleares            0.3
175  2015              Canarias           -0.4
176  2015             Cantabria           -0.4
177  2015       Castilla y León           -0.3
178  2015    Castilla-La Mancha           -0.3
179  2015              Cataluña            0.3
180  2015  Comunidad Valenciana            0.2
181  2015           Extremadura           -0.3
182  2015               Galicia           -0.2
183  2015                Madrid            0.0
184  2015                Murcia           -0.1
185  2015               Navarra           -0.1
186  2015            País Vasco            0.3
187  2015              La Rioja            0.1
188  2015                 Ceuta           -0.6
189  2015               Melilla           -0.3
190  2016             Andalucía            1.6
191  2016                Aragón            1.6
192  2016              Asturias            1.6
193  2016        Islas Baleares            1.6
194  2016              Canarias            1.3
195  2016             Cantabria            1.5
196  2016       Castilla y León            1.6
197  2016    Castilla-La Mancha            1.6
198  2016              Cataluña            1.9
199  2016  Comunidad Valenciana            1.3
200  2016           Extremadura            1.5
201  2016               Galicia            1.6
202  2016                Madrid            1.4
203  2016                Murcia            1.6
204  2016               Navarra            1.8
205  2016            País Vasco            1.5
206  2016              La Rioja            1.5
207  2016                 Ceuta            1.1
208  2016               Melilla            1.4
209  2017             Andalucía            1.1
210  2017                Aragón            0.9
211  2017              Asturias            0.9
212  2017        Islas Baleares            1.3
213  2017              Canarias            1.1
214  2017             Cantabria            1.2
215  2017       Castilla y León            1.0
216  2017    Castilla-La Mancha            1.1
217  2017              Cataluña            1.2
218  2017  Comunidad Valenciana            1.1
219  2017           Extremadura            0.8
220  2017               Galicia            1.2
221  2017                Madrid            1.2
222  2017                Murcia            0.6
223  2017               Navarra            0.6
224  2017            País Vasco            1.1
225  2017              La Rioja            0.6
226  2017                 Ceuta            0.6
227  2017               Melilla            1.4
228  2018             Andalucía            1.0
229  2018                Aragón            1.2
230  2018              Asturias            1.1
231  2018        Islas Baleares            0.7
232  2018              Canarias            1.4
233  2018             Cantabria            1.0
234  2018       Castilla y León            1.2
235  2018    Castilla-La Mancha            1.2
236  2018              Cataluña            1.4
237  2018  Comunidad Valenciana            1.1
238  2018           Extremadura            1.1
239  2018               Galicia            1.0
240  2018                Madrid            1.4
241  2018                Murcia            0.9
242  2018               Navarra            1.3
243  2018            País Vasco            1.0
244  2018              La Rioja            1.2
245  2018                 Ceuta            0.7
246  2018               Melilla           -0.3
247  2019             Andalucía            0.5
248  2019                Aragón            0.8
249  2019              Asturias            0.4
250  2019        Islas Baleares            1.0
251  2019              Canarias            0.4
252  2019             Cantabria            0.9
253  2019       Castilla y León            1.0
254  2019    Castilla-La Mancha            0.9
255  2019              Cataluña            0.9
256  2019  Comunidad Valenciana            0.7
257  2019           Extremadura            0.7
258  2019               Galicia            0.7
259  2019                Madrid            0.9
260  2019                Murcia            0.7
261  2019               Navarra            1.3
262  2019            País Vasco            1.2
263  2019              La Rioja            1.0
264  2019                 Ceuta            0.3
265  2019               Melilla            0.5
266  2020             Andalucía           -0.3
267  2020                Aragón           -0.6
268  2020              Asturias           -0.6
269  2020        Islas Baleares           -0.4
270  2020              Canarias           -0.1
271  2020             Cantabria           -0.5
272  2020       Castilla y León           -0.7
273  2020    Castilla-La Mancha           -0.9
274  2020              Cataluña           -0.6
275  2020  Comunidad Valenciana           -0.5
276  2020           Extremadura           -0.5
277  2020               Galicia           -0.4
278  2020                Madrid           -0.8
279  2020                Murcia           -0.4
280  2020               Navarra           -0.6
281  2020            País Vasco           -0.3
282  2020              La Rioja           -0.8
283  2020                 Ceuta           -0.4
284  2020               Melilla            0.1
285  2021             Andalucía            6.7
286  2021                Aragón            7.2
287  2021              Asturias            6.2
288  2021        Islas Baleares            6.5
289  2021              Canarias            5.8
290  2021             Cantabria            6.8
291  2021       Castilla y León            7.3
292  2021    Castilla-La Mancha            7.6
293  2021              Cataluña            6.1
294  2021  Comunidad Valenciana            6.8
295  2021           Extremadura            7.1
296  2021               Galicia            6.7
297  2021                Madrid            6.2
298  2021                Murcia            6.3
299  2021               Navarra            6.6
300  2021            País Vasco            6.4
301  2021              La Rioja            7.0
302  2021                 Ceuta            5.5
303  2021               Melilla            6.9
304  2022             Andalucía            6.2
305  2022                Aragón            5.9
306  2022              Asturias            5.8
307  2022        Islas Baleares            5.5
308  2022              Canarias            5.8
309  2022             Cantabria            5.3
310  2022       Castilla y León            6.5
311  2022    Castilla-La Mancha            6.8
312  2022              Cataluña            5.2
313  2022  Comunidad Valenciana            5.5
314  2022           Extremadura            6.5
315  2022               Galicia            6.4
316  2022                Madrid            4.9
317  2022                Murcia            6.3
318  2022               Navarra            6.4
319  2022            País Vasco            5.4
320  2022              La Rioja            5.8
321  2022                 Ceuta            6.2
322  2022               Melilla            6.6
323  2023             Andalucía            3.3
324  2023                Aragón            2.5
325  2023              Asturias            2.9
326  2023        Islas Baleares            3.3
327  2023              Canarias            3.8
328  2023             Cantabria            3.3
329  2023       Castilla y León            2.8
330  2023    Castilla-La Mancha            3.4
331  2023              Cataluña            3.2
332  2023  Comunidad Valenciana            3.3
333  2023           Extremadura            2.4
334  2023               Galicia            3.2
335  2023                Madrid            2.7
336  2023                Murcia            3.0
337  2023               Navarra            2.9
338  2023            País Vasco            3.1
339  2023              La Rioja            3.1
340  2023                 Ceuta            3.3
341  2023               Melilla            3.4

In [43]:
df_inflacion.to_csv("../../data/inflacion_espana_2006_2023.csv", index=False, sep="\t", encoding="utf-8")

## IPC por comunidad autonoma y año
Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=50913

In [47]:
df_ipc = pd.read_csv("../../data/ipc_comunidad_año.csv", sep="\t", encoding="latin-1", decimal=",")

df_ipc.head()

,Comunidades y Ciudades Autónomas,Grupos ECOICOP,Tipo de dato,Periodo,Total
0,01 Andalucía,Índice general,Índice,2025M04,118.800
1,01 Andalucía,Índice general,Índice,2025M03,118.076
2,01 Andalucía,Índice general,Índice,2025M02,117.919
3,01 Andalucía,Índice general,Índice,2025M01,117.486
4,01 Andalucía,Índice general,Índice,2024M12,117.241

In [48]:
# Extraemos el año del periodo
df_ipc['Año'] = df_ipc['Periodo'].str[:4].astype(int)

# Calculamos la media del Total por comunidad y año
mean_df_ipc = (
    df_ipc.groupby(['Comunidades y Ciudades Autónomas', 'Año'], as_index=False)
      .agg(Total_Medio=('Total', 'mean'))
)

In [53]:
# quedarme con los años de 2006 a 2023
mean_df_ipc = mean_df_ipc[mean_df_ipc['Año'].between(2006, 2023)]

In [54]:
mean_df_ipc.head()

  Comunidades y Ciudades Autónomas   Año  Total_Medio
4                     01 Andalucía  2006    81.547750
5                     01 Andalucía  2007    83.804500
6                     01 Andalucía  2008    87.164167
7                     01 Andalucía  2009    86.760083
8                     01 Andalucía  2010    88.313917

In [55]:
mean_df_ipc.to_csv("../../data/ipc_comunidad_año_media.csv", index=False, sep="\t", encoding="utf-8")

## Tipo de interés del Banco Central Europeo anual
Fuente: https://datosmacro.expansion.com/tipo-interes/zona-euro

In [56]:
import pandas as pd

In [57]:
tipos_interes_anuales = {
    2006: 3.50,
    2007: 4.00,
    2008: 2.50,
    2009: 1.00,
    2010: 1.00,
    2011: 1.00,
    2012: 0.75,
    2013: 0.25,
    2014: 0.05,
    2015: 0.05,
    2016: 0.00,
    2017: 0.00,
    2018: 0.00,
    2019: 0.00,
    2020: 0.00,
    2021: 0.00,
    2022: 2.50,
    2023: 4.50
}

In [58]:
# Crear un DataFrame con los datos del diccionario
df_csv = pd.DataFrame(list(tipos_interes_anuales.items()), columns=["Año", "Tipo_Interes"])

# Guardar el DataFrame como un archivo CSV
csv_filename = "../../data/tipos_interes_bce.csv"
df_csv.to_csv(csv_filename, sep="\t", encoding="utf-8", index=False)

In [ ]:
df_csv.head(5)

     Año  Tipo_Interes
0   2006          3.50
1   2007          4.00
2   2008          2.50
3   2009          1.00
4   2010          1.00
5   2011          1.00
6   2012          0.75
7   2013          0.25
8   2014          0.05
9   2015          0.05
10  2016          0.00
11  2017          0.00
12  2018          0.00
13  2019          0.00
14  2020          0.00
15  2021          0.00
16  2022          2.50
17  2023          4.50

# Precio del euro respecto al dolar
Fuente: https://es.statista.com/estadisticas/606660/media-anual-de-la-tasa-de-cambio-de-euro-a-dolar-estadounidense/

In [61]:
eur_usd_avg = {
    2006: 1.26,
    2007: 1.37,
    2008: 1.47,
    2009: 1.39,
    2010: 1.33,
    2011: 1.39,
    2012: 1.29,
    2013: 1.33,
    2014: 1.33,
    2015: 1.11,
    2016: 1.11,
    2017: 1.13,
    2018: 1.18,
    2019: 1.12,
    2020: 1.14,
    2021: 1.18,
    2022: 1.05,
    2023: 1.08
}

# Crear un DataFrame con los datos del diccionario
df_eur_usd = pd.DataFrame(list(eur_usd_avg.items()), columns=["Año", "EUR_USD"])

# Guardar el DataFrame como un archivo CSV
csv_eur_usd_filename = "../../data/eur_usd_avg.csv"
df_eur_usd.to_csv(csv_eur_usd_filename, sep="\t", encoding="utf-8", index=False)

### Tasa de paro por comunidad y año

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=4247

In [ ]:
# Leer el archivo CSV para verificar
df_tasa_paro = pd.read_csv("../../data/tasa_paro_comunidad_2006_2023.csv", sep="\t", encoding="latin-1")

df_tasa_paro.head(5)

     Total Nacional Comunidades y Ciudades Autónomas Periodo Total
0    Total Nacional                     01 Andalucía   2023*  18,2
1    Total Nacional                     01 Andalucía   2022*  19,1
2    Total Nacional                     01 Andalucía   2021*  21,9
3    Total Nacional                     01 Andalucía    2020  22,3
4    Total Nacional                     01 Andalucía    2019  21,2
5    Total Nacional                     01 Andalucía    2018  23,0
6    Total Nacional                     01 Andalucía    2017  25,5
7    Total Nacional                     01 Andalucía    2016  28,9
8    Total Nacional                     01 Andalucía    2015  31,5
9    Total Nacional                     01 Andalucía    2014  34,8
10   Total Nacional                     01 Andalucía    2013  36,2
11   Total Nacional                     01 Andalucía    2012  34,4
12   Total Nacional                     01 Andalucía    2011  30,1
13   Total Nacional                     01 Andalucía    2010  27,8
14   Total Nacional                     01 Andalucía    2009  25,2
15   Total Nacional                     01 Andalucía    2008  17,7
16   Total Nacional                     01 Andalucía    2007  12,8
17   Total Nacional                     01 Andalucía    2006  12,6
18   Total Nacional                        02 Aragón   2023*   8,6
19   Total Nacional                        02 Aragón   2022*   9,6
20   Total Nacional                        02 Aragón   2021*  10,3
21   Total Nacional                        02 Aragón    2020  11,7
22   Total Nacional                        02 Aragón    2019  10,0
23   Total Nacional                        02 Aragón    2018  10,6
24   Total Nacional                        02 Aragón    2017  11,7
25   Total Nacional                        02 Aragón    2016  14,7
26   Total Nacional                        02 Aragón    2015  16,3
27   Total Nacional                        02 Aragón    2014  20,2
28   Total Nacional                        02 Aragón    2013  21,4
29   Total Nacional                        02 Aragón    2012  18,7
30   Total Nacional                        02 Aragón    2011  17,1
31   Total Nacional                        02 Aragón    2010  15,0
32   Total Nacional                        02 Aragón    2009  13,1
33   Total Nacional                        02 Aragón    2008   7,3
34   Total Nacional                        02 Aragón    2007   5,3
35   Total Nacional                        02 Aragón    2006   5,5
36   Total Nacional       03 Asturias, Principado de   2023*  12,1
37   Total Nacional       03 Asturias, Principado de   2022*  12,5
38   Total Nacional       03 Asturias, Principado de   2021*  12,4
39   Total Nacional       03 Asturias, Principado de    2020  14,1
40   Total Nacional       03 Asturias, Principado de    2019  14,2
41   Total Nacional       03 Asturias, Principado de    2018  13,6
42   Total Nacional       03 Asturias, Principado de    2017  13,7
43   Total Nacional       03 Asturias, Principado de    2016  17,6
44   Total Nacional       03 Asturias, Principado de    2015  19,1
45   Total Nacional       03 Asturias, Principado de    2014  21,1
46   Total Nacional       03 Asturias, Principado de    2013  24,1
47   Total Nacional       03 Asturias, Principado de    2012  21,8
48   Total Nacional       03 Asturias, Principado de    2011  17,8
49   Total Nacional       03 Asturias, Principado de    2010  15,9
50   Total Nacional       03 Asturias, Principado de    2009  13,4
51   Total Nacional       03 Asturias, Principado de    2008   8,5
52   Total Nacional       03 Asturias, Principado de    2007   8,4
53   Total Nacional       03 Asturias, Principado de    2006   9,2
54   Total Nacional                04 Balears, Illes   2023*  10,3
55   Total Nacional                04 Balears, Illes   2022*  10,6
56   Total Nacional                04 Balears, Illes   2021*  14,3
57   Total Nacional                04 Balears, Illes    2020  16,1
58   Total Nacional                04 Balears, Illes    2019  11,7
59   Total Nacional                04 Balears, Illes    2018  11,5
60   Total Nacional                04 Balears, Illes    2017  12,4
61   Total Nacional                04 Balears, Illes    2016  13,9
62   Total Nacional                04 Balears, Illes    2015  17,3
63   Total Nacional                04 Balears, Illes    2014  20,0
64   Total Nacional                04 Balears, Illes    2013  22,3
65   Total Nacional                04 Balears, Illes    2012  23,2
66   Total Nacional                04 Balears, Illes    2011  21,9
67   Total Nacional                04 Balears, Illes    2010  20,1
68   Total Nacional                04 Balears, Illes    2009  17,9
69   Total Nacional                04 Balears, Illes    2008  10,2
70   Total Nacional                04 Balears, Illes    2007   7,2
71   Total Nacional                04 Balears, Illes    2006   6,4
72   Total Nacional                      05 Canarias   2023*  16,1
73   Total Nacional                      05 Canarias   2022*  17,6
74   Total Nacional                      05 Canarias   2021*  23,5
75   Total Nacional                      05 Canarias    2020  22,6
76   Total Nacional                      05 Canarias    2019  20,5
77   Total Nacional                      05 Canarias    2018  20,1
78   Total Nacional                      05 Canarias    2017  23,5
79   Total Nacional                      05 Canarias    2016  26,1
80   Total Nacional                      05 Canarias    2015  29,1
81   Total Nacional                      05 Canarias    2014  32,4
82   Total Nacional                      05 Canarias    2013  33,7
83   Total Nacional                      05 Canarias    2012  32,6
84   Total Nacional                      05 Canarias    2011  29,3
85   Total Nacional                      05 Canarias    2010  28,6
86   Total Nacional                      05 Canarias    2009  26,0
87   Total Nacional                      05 Canarias    2008  17,3
88   Total Nacional                      05 Canarias    2007  10,5
89   Total Nacional                      05 Canarias    2006  11,6
90   Total Nacional                     06 Cantabria   2023*   8,1
91   Total Nacional                     06 Cantabria   2022*   9,6
92   Total Nacional                     06 Cantabria   2021*  11,3
93   Total Nacional                     06 Cantabria    2020  12,1
94   Total Nacional                     06 Cantabria    2019  10,3
95   Total Nacional                     06 Cantabria    2018  10,7
96   Total Nacional                     06 Cantabria    2017  13,6
97   Total Nacional                     06 Cantabria    2016  14,9
98   Total Nacional                     06 Cantabria    2015  17,7
99   Total Nacional                     06 Cantabria    2014  19,4
100  Total Nacional                     06 Cantabria    2013  20,4
101  Total Nacional                     06 Cantabria    2012  17,8
102  Total Nacional                     06 Cantabria    2011  15,3
103  Total Nacional                     06 Cantabria    2010  13,7
104  Total Nacional                     06 Cantabria    2009  12,0
105  Total Nacional                     06 Cantabria    2008   7,2
106  Total Nacional                     06 Cantabria    2007   6,0
107  Total Nacional                     06 Cantabria    2006   6,5
108  Total Nacional               07 Castilla y León   2023*   9,7
109  Total Nacional               07 Castilla y León   2022*   9,9
110  Total Nacional               07 Castilla y León   2021*  11,6
111  Total Nacional               07 Castilla y León    2020  12,1
112  Total Nacional               07 Castilla y León    2019  11,6
113  Total Nacional               07 Castilla y León    2018  12,1
114  Total Nacional               07 Castilla y León    2017  14,1
115  Total Nacional               07 Castilla y León    2016  15,8
116  Total Nacional               07 Castilla y León    2015  18,3
117  Total Nacional               07 Castilla y León    2014  20,8
118  Total Nacional               07 Castilla y León    2013  21,8
119  Total Nacional               07 Castilla y León    2012  19,8
120  Total Nacional               07 Castilla y León    2011  16,9
121  Total Nacional               07 Castilla y León    2010  15,8
122  Total Nacional               07 Castilla y León    2009  14,0
123  Total Nacional               07 Castilla y León    2008   9,6
124  Total Nacional               07 Castilla y León    2007   7,1
125  Total Nacional               07 Castilla y León    2006   8,1
126  Total Nacional          08 Castilla - La Mancha   2023*  13,2
127  Total Nacional          08 Castilla - La Mancha   2022*  14,6
128  Total Nacional          08 Castilla - La Mancha   2021*  15,7
129  Total Nacional          08 Castilla - La Mancha    2020  17,7
130  Total Nacional          08 Castilla - La Mancha    2019  16,2
131  Total Nacional          08 Castilla - La Mancha    2018  18,2
132  Total Nacional          08 Castilla - La Mancha    2017  20,8
133  Total Nacional          08 Castilla - La Mancha    2016  23,6
134  Total Nacional          08 Castilla - La Mancha    2015  26,4
135  Total Nacional          08 Castilla - La Mancha    2014  29,0
136  Total Nacional          08 Castilla - La Mancha    2013  30,0
137  Total Nacional          08 Castilla - La Mancha    2012  28,6
138  Total Nacional          08 Castilla - La Mancha    2011  23,1
139  Total Nacional          08 Castilla - La Mancha    2010  21,2
140  Total Nacional          08 Castilla - La Mancha    2009  18,9
141  Total Nacional          08 Castilla - La Mancha    2008  11,7
142  Total Nacional          08 Castilla - La Mancha    2007   7,7
143  Total Nacional          08 Castilla - La Mancha    2006   8,8
144  Total Nacional                      09 Cataluña   2023*   9,3
145  Total Nacional                      09 Cataluña   2022*  10,0
146  Total Nacional                      09 Cataluña   2021*  11,7
147  Total Nacional                      09 Cataluña    2020  12,6
148  Total Nacional                      09 Cataluña    2019  11,0
149  Total Nacional                      09 Cataluña    2018  11,5
150  Total Nacional                      09 Cataluña    2017  13,4
151  Total Nacional                      09 Cataluña    2016  15,7
152  Total Nacional                      09 Cataluña    2015  18,6
153  Total Nacional                      09 Cataluña    2014  20,3
154  Total Nacional                      09 Cataluña    2013  23,1
155  Total Nacional                      09 Cataluña    2012  22,5
156  Total Nacional                      09 Cataluña    2011  19,2
157  Total Nacional                      09 Cataluña    2010  17,7
158  Total Nacional                      09 Cataluña    2009  16,2
159  Total Nacional                      09 Cataluña    2008   8,9
160  Total Nacional                      09 Cataluña    2007   6,5
161  Total Nacional                      09 Cataluña    2006   6,5
162  Total Nacional          10 Comunitat Valenciana   2023*  12,8
163  Total Nacional          10 Comunitat Valenciana   2022*  13,3
164  Total Nacional          10 Comunitat Valenciana   2021*  16,1
165  Total Nacional          10 Comunitat Valenciana    2020  16,2
166  Total Nacional          10 Comunitat Valenciana    2019  14,1
167  Total Nacional          10 Comunitat Valenciana    2018  15,6
168  Total Nacional          10 Comunitat Valenciana    2017  18,2
169  Total Nacional          10 Comunitat Valenciana    2016  20,6
170  Total Nacional          10 Comunitat Valenciana    2015  22,8
171  Total Nacional          10 Comunitat Valenciana    2014  25,8
172  Total Nacional          10 Comunitat Valenciana    2013  28,1
173  Total Nacional          10 Comunitat Valenciana    2012  27,2
174  Total Nacional          10 Comunitat Valenciana    2011  24,0
175  Total Nacional          10 Comunitat Valenciana    2010  22,9
176  Total Nacional          10 Comunitat Valenciana    2009  20,8
177  Total Nacional          10 Comunitat Valenciana    2008  12,0
178  Total Nacional          10 Comunitat Valenciana    2007   8,7
179  Total Nacional          10 Comunitat Valenciana    2006   8,3
180  Total Nacional                   11 Extremadura   2023*  17,4
181  Total Nacional                   11 Extremadura   2022*  17,3
182  Total Nacional                   11 Extremadura   2021*  20,2
183  Total Nacional                   11 Extremadura    2020  21,8
184  Total Nacional                   11 Extremadura    2019  21,5
185  Total Nacional                   11 Extremadura    2018  23,6
186  Total Nacional                   11 Extremadura    2017  26,2
187  Total Nacional                   11 Extremadura    2016  27,5
188  Total Nacional                   11 Extremadura    2015  29,1
189  Total Nacional                   11 Extremadura    2014  29,8
190  Total Nacional                   11 Extremadura    2013  33,9
191  Total Nacional                   11 Extremadura    2012  33,1
192  Total Nacional                   11 Extremadura    2011  25,1
193  Total Nacional                   11 Extremadura    2010  23,0
194  Total Nacional                   11 Extremadura    2009  20,6
195  Total Nacional                   11 Extremadura    2008  15,4
196  Total Nacional                   11 Extremadura    2007  13,0
197  Total Nacional                   11 Extremadura    2006  13,3
198  Total Nacional                       12 Galicia   2023*   9,7
199  Total Nacional                       12 Galicia   2022*  11,0
200  Total Nacional                       12 Galicia   2021*  11,5
201  Total Nacional                       12 Galicia    2020  12,0
202  Total Nacional                       12 Galicia    2019  11,8
203  Total Nacional                       12 Galicia    2018  13,3
204  Total Nacional                       12 Galicia    2017  15,7
205  Total Nacional                       12 Galicia    2016  17,2
206  Total Nacional                       12 Galicia    2015  19,3
207  Total Nacional                       12 Galicia    2014  21,7
208  Total Nacional                       12 Galicia    2013  22,0
209  Total Nacional                       12 Galicia    2012  20,5
210  Total Nacional                       12 Galicia    2011  17,3
211  Total Nacional                       12 Galicia    2010  15,3
212  Total Nacional                       12 Galicia    2009  12,4
213  Total Nacional                       12 Galicia    2008   8,6
214  Total Nacional                       12 Galicia    2007   7,6
215  Total Nacional                       12 Galicia    2006   8,4
216  Total Nacional          13 Madrid, Comunidad de   2023*  10,0
217  Total Nacional          13 Madrid, Comunidad de   2022*  11,2
218  Total Nacional          13 Madrid, Comunidad de   2021*  11,7
219  Total Nacional          13 Madrid, Comunidad de    2020  12,5
220  Total Nacional          13 Madrid, Comunidad de    2019  10,6
221  Total Nacional          13 Madrid, Comunidad de    2018  12,2
222  Total Nacional          13 Madrid, Comunidad de    2017  13,3
223  Total Nacional          13 Madrid, Comunidad de    2016  15,7
224  Total Nacional          13 Madrid, Comunidad de    2015  17,1
225  Total Nacional          13 Madrid, Comunidad de    2014  18,7
226  Total Nacional          13 Madrid, Comunidad de    2013  19,8
227  Total Nacional          13 Madrid, Comunidad de    2012  18,5
228  Total Nacional          13 Madrid, Comunidad de    2011  16,3
229  Total Nacional          13 Madrid, Comunidad de    2010  15,8
230  Total Nacional          13 Madrid, Comunidad de    2009  13,9
231  Total Nacional          13 Madrid, Comunidad de    2008   8,6
232  Total Nacional          13 Madrid, Comunidad de    2007   6,2
233  Total Nacional          13 Madrid, Comunidad de    2006   6,3
234  Total Nacional             14 Murcia, Región de   2023*  12,8
235  Total Nacional             14 Murcia, Región de   2022*  13,6
236  Total Nacional             14 Murcia, Región de   2021*  14,7
237  Total Nacional             14 Murcia, Región de    2020  16,2
238  Total Nacional             14 Murcia, Región de    2019  14,7
239  Total Nacional             14 Murcia, Región de    2018  16,8
240  Total Nacional             14 Murcia, Región de    2017  18,0
241  Total Nacional             14 Murcia, Región de    2016  19,8
242  Total Nacional             14 Murcia, Región de    2015  24,6
243  Total Nacional             14 Murcia, Región de    2014  26,6
244  Total Nacional             14 Murcia, Región de    2013  29,0
245  Total Nacional             14 Murcia, Región de    2012  27,6
246  Total Nacional             14 Murcia, Región de    2011  25,0
247  Total Nacional             14 Murcia, Región de    2010  22,9
248  Total Nacional             14 Murcia, Región de    2009  20,3
249  Total Nacional             14 Murcia, Región de    2008  12,4
250  Total Nacional             14 Murcia, Región de    2007   7,5
251  Total Nacional             14 Murcia, Región de    2006   7,9
252  Total Nacional   15 Navarra, Comunidad Foral de   2023*   9,9
253  Total Nacional   15 Navarra, Comunidad Foral de   2022*   9,7
254  Total Nacional   15 Navarra, Comunidad Foral de   2021*  10,7
255  Total Nacional   15 Navarra, Comunidad Foral de    2020  10,1
256  Total Nacional   15 Navarra, Comunidad Foral de    2019   8,2
257  Total Nacional   15 Navarra, Comunidad Foral de    2018  10,0
258  Total Nacional   15 Navarra, Comunidad Foral de    2017  10,2
259  Total Nacional   15 Navarra, Comunidad Foral de    2016  12,5
260  Total Nacional   15 Navarra, Comunidad Foral de    2015  13,8
261  Total Nacional   15 Navarra, Comunidad Foral de    2014  15,7
262  Total Nacional   15 Navarra, Comunidad Foral de    2013  17,9
263  Total Nacional   15 Navarra, Comunidad Foral de    2012  16,2
264  Total Nacional   15 Navarra, Comunidad Foral de    2011  13,0
265  Total Nacional   15 Navarra, Comunidad Foral de    2010  11,9
266  Total Nacional   15 Navarra, Comunidad Foral de    2009  10,8
267  Total Nacional   15 Navarra, Comunidad Foral de    2008   6,8
268  Total Nacional   15 Navarra, Comunidad Foral de    2007   4,7
269  Total Nacional   15 Navarra, Comunidad Foral de    2006   5,4
270  Total Nacional                    16 País Vasco   2023*   7,7
271  Total Nacional                    16 País Vasco   2022*   8,9
272  Total Nacional                    16 País Vasco   2021*  10,3
273  Total Nacional                    16 País Vasco    2020   9,5
274  Total Nacional                    16 País Vasco    2019   9,2
275  Total Nacional                    16 País Vasco    2018  10,0
276  Total Nacional                    16 País Vasco    2017  11,3
277  Total Nacional                    16 País Vasco    2016  12,6
278  Total Nacional                    16 País Vasco    2015  14,8
279  Total Nacional                    16 País Vasco    2014  16,3
280  Total Nacional                    16 País Vasco    2013  16,6
281  Total Nacional                    16 País Vasco    2012  15,6
282  Total Nacional                    16 País Vasco    2011  12,4
283  Total Nacional                    16 País Vasco    2010  10,7
284  Total Nacional                    16 País Vasco    2009  11,3
285  Total Nacional                    16 País Vasco    2008   6,6
286  Total Nacional                    16 País Vasco    2007   6,2
287  Total Nacional                    16 País Vasco    2006   7,2
288  Total Nacional                     17 Rioja, La   2023*   9,4
289  Total Nacional                     17 Rioja, La   2022*   9,6
290  Total Nacional                     17 Rioja, La   2021*  11,6
291  Total Nacional                     17 Rioja, La    2020  10,8
292  Total Nacional                     17 Rioja, La    2019  10,0
293  Total Nacional                     17 Rioja, La    2018  10,4
294  Total Nacional                     17 Rioja, La    2017  12,0
295  Total Nacional                     17 Rioja, La    2016  13,6
296  Total Nacional                     17 Rioja, La    2015  15,4