## Obtencion del factor temporal de los c칩digos

In [1]:
from PyPDF2 import PdfReader, PdfWriter

def split_pdf(input_pdf, start_page, end_page, output_pdf):
    reader = PdfReader(input_pdf)
    writer = PdfWriter()

    for i in range(start_page - 1, end_page):
        writer.add_page(reader.pages[i])

    with open(output_pdf, "wb") as out_file:
        writer.write(out_file)

# Ejemplo de uso
split_pdf("../../data\Documentaci칩n ficheros de usuario EPF 2006 A침o 2021.pdf", 64, 259, "../../data/anexo_codes.pdf")

In [2]:
import pdfplumber
import re

def extract_codes_and_factors(pdf_path):
    keywords = {"Bisemanal", "Mensual", "Trimestral", "칔ltimo", "Anual"}  # Factores posibles
    data = []

    with pdfplumber.open(pdf_path) as pdf:
        for page in pdf.pages:
            text = page.extract_text()
            if text:
                lines = text.split("\n")  # Dividir en l칤neas
                
                for i in range(len(lines) - 1):
                    line = lines[i].strip()  # Eliminar espacios y tabulaciones al inicio

                    # Buscar c칩digo al inicio de la l칤nea, permitiendo que el 칰ltimo car치cter sea una letra
                    match = re.match(r'^(\d{2})\.(\d)\.(\d)\.([\dA-Z])', line)
                    if match:
                        clean_code = "".join(match.groups())  # Unir los n칰meros y letras sin puntos

                        # Buscar el factor en las siguientes 6 l칤neas
                        factor = "NaN"
                        for j in range(1, 7):  # Buscar hasta 6 l칤neas m치s abajo
                            if i + j < len(lines):
                                next_line = lines[i + j].strip()  # Eliminar espacios en la siguiente l칤nea
                                first_word = next_line.split()[0] if next_line else ""  # Tomar la primera palabra
                                
                                if first_word in keywords:
                                    factor = first_word
                                    break  # Si ya encontramos un factor, salimos del bucle

                        data.append((clean_code, factor))

    return data

In [3]:
import pandas as pd

# 游댳 Extraer c칩digos y factores del PDF
pdf_path = "../../data/anexo_codes.pdf"  # Reempl치zalo con la ruta correcta
codes_factors = extract_codes_and_factors(pdf_path)

# 游댳 Crear DataFrame y asegurar que `CODIGO` sea string
df = pd.DataFrame(codes_factors, columns=["CODIGO", "FACTOR_TEMPORAL"])
df["CODIGO"] = df["CODIGO"].astype(str)  # Convertir a string por seguridad

In [4]:
for code, factor in codes_factors:
    print(f"{code} -> {factor}")

01111 -> Bisemanal
01112 -> Bisemanal
01113 -> Bisemanal
01114 -> Bisemanal
01115 -> Bisemanal
01116 -> Bisemanal
01117 -> Bisemanal
01118 -> Bisemanal
01121 -> Bisemanal
01122 -> Bisemanal
01123 -> Bisemanal
01124 -> Bisemanal
01125 -> Bisemanal
01126 -> Bisemanal
01127 -> Bisemanal
01128 -> Bisemanal
01131 -> Bisemanal
01132 -> Bisemanal
01133 -> Bisemanal
01134 -> Bisemanal
01135 -> Bisemanal
01136 -> Bisemanal
01141 -> Bisemanal
01142 -> Bisemanal
01143 -> Bisemanal
01144 -> Bisemanal
01145 -> Bisemanal
01146 -> Bisemanal
01147 -> Bisemanal
01151 -> Bisemanal
01152 -> Bisemanal
01153 -> Bisemanal
01154 -> Bisemanal
01155 -> Bisemanal
01161 -> Bisemanal
01162 -> Bisemanal
01163 -> Bisemanal
01164 -> Bisemanal
01165 -> Bisemanal
01166 -> Bisemanal
01167 -> Bisemanal
01168 -> Bisemanal
01169 -> Bisemanal
01160 -> Bisemanal
01171 -> Bisemanal
01172 -> Bisemanal
01173 -> Bisemanal
01174 -> Bisemanal
01175 -> Bisemanal
01176 -> Bisemanal
01177 -> Bisemanal
01178 -> Bisemanal
01179 -> Bisemanal
01181 -> Bisemanal
01182 -> Bisemanal
01183 -> Bisemanal
01184 -> Bisemanal
01185 -> Bisemanal
01186 -> Bisemanal
01191 -> Bisemanal
01192 -> Bisemanal
01193 -> Bisemanal
01194 -> Bisemanal
01195 -> Bisemanal
01199 -> Bisemanal
01211 -> Bisemanal
01212 -> Bisemanal
01213 -> Bisemanal
01214 -> Bisemanal
01221 -> Bisemanal
01222 -> Bisemanal
01223 -> Bisemanal
01224 -> Bisemanal
01225 -> Bisemanal
02111 -> Bisemanal
02112 -> Bisemanal
02121 -> Bisemanal
02122 -> Bisemanal
02123 -> Bisemanal
02124 -> Bisemanal
02131 -> Bisemanal
02132 -> Bisemanal
02133 -> Bisemanal
02134 -> Bisemanal
02201 -> Bisemanal
02202 -> Bisemanal
02203 -> Bisemanal
03110 -> Mensual
03121 -> Mensual
03122 -> Mensual
03123 -> Mensual
03131 -> Mensual
03132 -> Bisemanal
03141 -> Bisemanal
03142 -> Bisemanal
03211 -> Mensual
03212 -> Mensual
03213 -> Mensual
03220 -> Bisemanal
04110 -> 칔ltimo
04121 -> 칔ltimo
04122 -> 칔ltimo
04123 -> 칔ltimo
04124 -> 칔ltimo
04129 -> 칔ltimo
04210 -> NaN
04221 -> NaN
04222 -> NaN
04223 -> NaN
04310 -> Trimestral
04321 -> Trimestral
04322 -> Trimestral
04323 -> Trimestral
04324 -> Trimestral
04325 -> Trimestral
04329 -> Trimestral
04411 -> 칔ltimo
04412 -> 칔ltimo
04421 -> 칔ltimo
04422 -> 칔ltimo
04431 -> 칔ltimo
04432 -> 칔ltimo
04441 -> Trimestral
04442 -> Trimestral
04443 -> 칔ltimo
04444 -> 칔ltimo
04448 -> Trimestral
04449 -> Trimestral
04511 -> 칔ltimo
04512 -> 칔ltimo
04521 -> 칔ltimo
04522 -> 칔ltimo
04523 -> Bisemanal
04524 -> Bisemanal
04531 -> Anual
04532 -> Anual
04541 -> Anual
04542 -> Anual
04548 -> Anual
04549 -> Anual
05111 -> Anual
05112 -> Anual
05113 -> Trimestral
05114 -> Anual
05115 -> Trimestral
05121 -> Trimestral
05122 -> Trimestral
05123 -> Trimestral
05130 -> Bisemanal
05201 -> Mensual
05202 -> Mensual
05203 -> Mensual
05204 -> Mensual
05209 -> Mensual
05311 -> Anual
05312 -> Anual
05313 -> Anual
05314 -> Anual
05315 -> Anual
05319 -> Anual
05321 -> Trimestral
05322 -> Trimestral
05323 -> Trimestral
05324 -> Trimestral
05329 -> Trimestral
05330 -> Mensual
05401 -> Mensual
05402 -> Mensual
05403 -> Mensual
05404 -> Mensual
05511 -> Anual
05512 -> Mensual
05521 -> Mensual
05522 -> Bisemanal
05523 -> Bisemanal
05611 -> Bisemanal
05612 -> Bisemanal
05621 -> Mensual
05622 -> Mensual
05623 -> Mensual
05624 -> Mensual
04122 -> NaN
05629 -> Mensual
06111 -> Bisemanal
06112 -> Bisemanal
06121 -> Bisemanal
06129 -> Bisemanal
06212 -> Trimestral
06131 -> Trimestral
06132 -> Anual
06133 -> Bisemanal
06139 -> Anual
06211 -> Trimestral
06212 -> Trimestral
06212 -> NaN
06220 -> Trimestral
06212 -> NaN
06231 -> Trimestral
06232 -> Trimestral
06239 -> Trimestral
06300 -> Trimestral
07111 -> Anual
07112 -> Anual
07120 -> Anual
07130 -> Anual
07211 -> Mensual
07212 -> Mensual
07213 -> Mensual
07221 -> Bisemanal
07222 -> Bisemanal
07223 -> Bisemanal
07224 -> Bisemanal
07230 -> Mensual
07241 -> Mensual
04124 -> NaN
07242 -> Bisemanal
07243 -> Bisemanal
07244 -> Trimestral
07245 -> Anual
07311 -> Bisemanal
07312 -> Mensual
07313 -> Bisemanal
07321 -> Bisemanal
07322 -> Bisemanal
07323 -> 칔ltimo
07324 -> Bisemanal
07331 -> Trimestral
07332 -> Anual
07341 -> Mensual
07342 -> Mensual
07350 -> Bisemanal
07361 -> Bisemanal
07362 -> Anual
07369 -> Mensual
08101 -> Bisemanal
08109 -> Bisemanal
08201 -> Anual
08202 -> Anual
08203 -> Anual
08204 -> Trimestral
08301 -> Bisemanal
08302 -> Bisemanal
08303 -> Bisemanal
08304 -> 칔ltimo
08309 -> Trimestral
09111 -> Anual
09112 -> Anual
09113 -> Anual
09119 -> Trimestral
09121 -> Anual
09122 -> Trimestral
09123 -> Anual
09131 -> Anual
09132 -> Trimestral
09133 -> Mensual
09134 -> Mensual
09141 -> Bisemanal
09142 -> Bisemanal
09149 -> Bisemanal
09150 -> Bisemanal
09210 -> Anual
09221 -> Anual
09222 -> Anual
09230 -> Bisemanal
09311 -> Bisemanal
09312 -> Bisemanal
09321 -> Trimestral
09322 -> Trimestral
09323 -> Bisemanal
09331 -> Bisemanal
09332 -> Bisemanal
09341 -> Anual
09342 -> Bisemanal
09350 -> Mensual
09411 -> Bisemanal
09412 -> Bisemanal
09421 -> Bisemanal
09422 -> Bisemanal
09423 -> 칔ltimo
09424 -> Bisemanal
09425 -> Mensual
09429 -> Mensual
09430 -> Bisemanal
09511 -> Bisemanal
09512 -> Trimestral
09513 -> Bisemanal
09514 -> Mensual
09521 -> Bisemanal
09522 -> Bisemanal
09530 -> Bisemanal
09541 -> Bisemanal
09549 -> Bisemanal
09601 -> Anual
09602 -> Anual
10400 -> NaN
10222 -> NaN
10111 -> 칔ltimo
10112 -> 칔ltimo
10113 -> 칔ltimo
10114 -> 칔ltimo
10121 -> 칔ltimo
10122 -> 칔ltimo
10214 -> NaN
10211 -> 칔ltimo
10212 -> 칔ltimo
10213 -> 칔ltimo
10214 -> 칔ltimo
10221 -> 칔ltimo
10222 -> 칔ltimo
10223 -> 칔ltimo
10224 -> 칔ltimo
10225 -> 칔ltimo
10301 -> 칔ltimo
10302 -> 칔ltimo
10303 -> 칔ltimo
10304 -> 칔ltimo
10305 -> 칔ltimo
10306 -> 칔ltimo
10400 -> 칔ltimo
11111 -> Bisemanal
11112 -> Bisemanal
11113 -> Bisemanal
11114 -> Bisemanal
11115 -> Anual
11116 -> Bisemanal
11121 -> Bisemanal
11122 -> Bisemanal
11130 -> Mensual
11201 -> Trimestral
11202 -> Trimestral
11203 -> 칔ltimo
11204 -> Trimestral
12111 -> Mensual
12112 -> Mensual
12113 -> Mensual
12121 -> Trimestral
12122 -> Bisemanal
12131 -> Bisemanal
12132 -> Bisemanal
12311 -> Mensual
12312 -> Mensual
12313 -> Bisemanal
12321 -> Trimestral
12322 -> Mensual
12323 -> Bisemanal
12328 -> Anual
12329 -> Mensual
12401 -> Mensual
12402 -> 칔ltimo
12403 -> Mensual
12404 -> Trimestral
12521 -> 칔ltimo
12522 -> 칔ltimo
12530 -> 칔ltimo
12541 -> 칔ltimo
09210 -> Trimestral
12542 -> Trimestral
12551 -> 칔ltimo
12552 -> 칔ltimo
12559 -> 칔ltimo
09210 -> NaN
12620 -> Trimestral
12701 -> Mensual
12702 -> Trimestral
12703 -> Anual
12704 -> Mensual
12810 -> Bisemanal
12820 -> Mensual

Manejamos manualmente los NaN

In [5]:
# Quiero ver de df las filas que FACTOR_TEMPORAL sea igual a Nan
print(df[df["FACTOR_TEMPORAL"] == "NaN"])

    CODIGO FACTOR_TEMPORAL
105  04210             NaN
106  04221             NaN
107  04222             NaN
108  04223             NaN
181  04122             NaN
194  06212             NaN
196  06212             NaN
214  04124             NaN
294  10400             NaN
295  10222             NaN
302  10214             NaN
360  09210             NaN

In [6]:
df.loc[df["CODIGO"] == "09210", "FACTOR_TEMPORAL"] = "Anual"
df.loc[df["CODIGO"].astype(str).str.startswith("0422"), "FACTOR_TEMPORAL"] = "칔ltimo"
df.loc[df["CODIGO"] == "06212", "FACTOR_TEMPORAL"] = "Trimestral"
df.loc[df["CODIGO"].isin(["10214", "10400", "04124", "04210", "04122", "10222"]), "FACTOR_TEMPORAL"] = "칔ltimo"

In [7]:
df = df.drop_duplicates(subset=["CODIGO"])

In [8]:
df[df["FACTOR_TEMPORAL"] == "NaN"]

Empty DataFrame
Columns: [CODIGO, FACTOR_TEMPORAL]
Index: []

Comparamos con los codigos de gastos para ver que c칩digos nos faltan

In [9]:
df_gastos = pd.read_csv("../../DataLake/2023/family_expenses.tsv", sep="\t", encoding="utf-8")

In [10]:
codigos_unicos = df_gastos[~df_gastos["CODIGO"].isin(df["CODIGO"])]
codigos_unicos["CODIGO"].unique()

array(['0117B', '0117A', '0117C'], dtype=object)

In [11]:
nuevos_codigos = pd.DataFrame({
    "CODIGO": ['0117A', '0117B', '0117C'],
    "FACTOR_TEMPORAL": ["Bisemanal"] * 3
})

# Concatenar con el DataFrame existente
df = pd.concat([df, nuevos_codigos], ignore_index=True)

In [12]:
codigos_unicos = df_gastos[~df_gastos["CODIGO"].isin(df["CODIGO"])]
codigos_unicos["CODIGO"].unique()

array([], dtype=object)

Guardamos los c칩digos con sus factores

In [13]:
# 游댳 Guardar en CSV con separaci칩n por tabuladores
df.to_csv("../../data/codes_factors.csv", sep="\t", index=False)

### Creamos un datamart con los gastos agregados por super categor칤as

Primero cargamos el datalake

In [14]:
import os
import glob
import pandas as pd

In [15]:
def load_datalake(datalake_path):
    """
    Carga los archivos family_expenses.tsv de todos los a침os dentro del datalake y los concatena en un 칰nico DataFrame.
    A침ade una columna 'A침o' correspondiente al a침o de cada archivo.
    """
    all_files = glob.glob(os.path.join(datalake_path, "*", "family_expenses.tsv"))
    df_list = []

    for file in all_files:
        year = os.path.basename(os.path.dirname(file))  # Extraer el a침o de la ruta
        df = pd.read_csv(file, sep="\t")  # Cargar el archivo
        df["A침o"] = int(year)  # A침adir la columna A침o
        df_list.append(df)

    if not df_list:
        raise ValueError("No se encontraron archivos family_expenses.tsv en la ruta del datalake.")

    # Concatenar todos los DataFrames
    df_expenses = pd.concat(df_list, ignore_index=True)
    return df_expenses

In [16]:
# Ruta del Datalake
datalake_path = "../../Datalake/"  # Ajusta seg칰n la ubicaci칩n real

# Cargar los datos del datalake
df_expenses = load_datalake(datalake_path)

Rellenar los codigos a 5 digitos

In [17]:
def pad_code(code):
    return str(code).zfill(5)

df_expenses["CODIGO"] = df_expenses["CODIGO"].apply(pad_code)
# Asegurar que los c칩digos en df_expenses son strings
df_expenses["CODIGO"] = df_expenses["CODIGO"].astype(str)

df_expenses

          NUMERO CODIGO     GASTOMON        FACTOR   A침o
0              1  01112  29415522.00  9.026143e+08  2006
1              1  01114   2494436.00  9.026143e+08  2006
2              1  01115  57113177.00  9.026143e+08  2006
3              1  01117   6000766.00  9.026143e+08  2006
4              1  01121  27085813.00  9.026143e+08  2006
...          ...    ...          ...           ...   ...
34655650   20707  12521    106228.09  5.447594e+02  2023
34655651   20707  12522    136189.86  5.447594e+02  2023
34655652   20707  12541    163427.83  5.447594e+02  2023
34655653   20707  12620     47712.61  5.447594e+02  2023
34655654   20707  12702    834970.72  5.447594e+02  2023

[34655655 rows x 5 columns]

In [18]:
def aggregate_supercategories_two_digits(df):
    """
    Agrega los datos por supercategor칤as, utilizando los dos primeros d칤gitos del c칩digo como categor칤a.
    Agrupa por A칌O, NUMERO y SUPER_CATEGORIA.
    """
    df["SUPER_CATEGORIA"] = df["CODIGO"].astype(str).str[:2]  # Extraer los dos primeros d칤gitos del c칩digo

    # Agregar los gastos por supercategor칤a, a침o y n칰mero de hogar
    df_agg = df.groupby(["A침o", "NUMERO", "SUPER_CATEGORIA"])["GASTOMON"].sum().reset_index()

    return df_agg

In [19]:
# Agregar por supercategor칤as
df_aggregated = aggregate_supercategories_two_digits(df_expenses)

# Mostrar el DataFrame con los datos agregados
df_aggregated.head()

    A침o  NUMERO SUPER_CATEGORIA     GASTOMON
0  2006       1              01  684981607.0
1  2006       1              02  319264308.0
2  2006       1              03   34285154.0
3  2006       1              04  175239084.0
4  2006       1              05  503926195.0

In [20]:
df_expenses

          NUMERO CODIGO     GASTOMON        FACTOR   A침o SUPER_CATEGORIA
0              1  01112  29415522.00  9.026143e+08  2006              01
1              1  01114   2494436.00  9.026143e+08  2006              01
2              1  01115  57113177.00  9.026143e+08  2006              01
3              1  01117   6000766.00  9.026143e+08  2006              01
4              1  01121  27085813.00  9.026143e+08  2006              01
...          ...    ...          ...           ...   ...             ...
34655650   20707  12521    106228.09  5.447594e+02  2023              12
34655651   20707  12522    136189.86  5.447594e+02  2023              12
34655652   20707  12541    163427.83  5.447594e+02  2023              12
34655653   20707  12620     47712.61  5.447594e+02  2023              12
34655654   20707  12702    834970.72  5.447594e+02  2023              12

[34655655 rows x 6 columns]

In [21]:
# crear directorio de salida si no existe
output_dir = "../../datamarts"
os.makedirs(output_dir, exist_ok=True)

In [22]:
# Guardar el DataFrame agregado como un archivo TSV
output_filename = "../../datamarts/datamart_supercategories.tsv"
df_aggregated.to_csv(output_filename, sep="\t", index=False)

print(f"Datamart saved as: {output_filename}")

Datamart saved as: ../../datamarts/datamart_supercategories.tsv

In [23]:
def aggregate_supercategories_three_digits(df):
    """
    Agrega los datos por supercategor칤as, utilizando los dos primeros d칤gitos del c칩digo como categor칤a.
    Agrupa por A칌O, NUMERO y SUPER_CATEGORIA.
    """
    df["SUPER_CATEGORIA"] = df["CODIGO"].astype(str).str[:3]  # Extraer los dos primeros d칤gitos del c칩digo

    # Agregar los gastos por supercategor칤a, a침o y n칰mero de hogar
    df_agg = df.groupby(["A침o", "NUMERO", "SUPER_CATEGORIA"])["GASTOMON"].sum().reset_index()

    return df_agg

In [24]:
# Agregar por supercategor칤as
df_aggregated = aggregate_supercategories_three_digits(df_expenses)

# Mostrar el DataFrame con los datos agregados
df_aggregated.head()

    A침o  NUMERO SUPER_CATEGORIA     GASTOMON
0  2006       1             011  684981607.0
1  2006       1             021  319264308.0
2  2006       1             031   34285154.0
3  2006       1             042          0.0
4  2006       1             043  108380640.0

### Ajustar los cambios de las dos encuestas (2006 a 2015) y (2016 a 2023)

In [25]:
import pandas as pd

# 1) Si tu SUPER_CATEGORIA vienen como enteros o sin ceros a la izquierda, p치salos a str de 3 d칤gitos:
df_aggregated['SUPER_CATEGORIA'] = df_aggregated['SUPER_CATEGORIA'].astype(str).str.zfill(3)

# 2) Definimos el diccionario de mapeo (igual que antes):
mapping = {
    "023": "022",
    "103": "102",
    "104": "103",
    "105": "104",
    "127": "128",
    "126": "127",
    "125": "126",
    "124": "125",
    "123": "124",
    "122": "123"
}

# 3) Aplicamos el mapeo sobre df, no sobre el ya agrupado:
df_aggregated['SUPER_CATEGORIA'] = df_aggregated['SUPER_CATEGORIA'].replace(mapping)

# 4) Ahora agrupas incluyendo NUMERO:
df_aggregated = (
    df_aggregated
    .groupby(['A침o', 'NUMERO', 'SUPER_CATEGORIA'], as_index=False)['GASTOMON']
    .sum()
)

# 5) (Opcional) ordena para que sea m치s legible:
df_aggregated = df_aggregated.sort_values(['A침o', 'NUMERO', 'SUPER_CATEGORIA']).reset_index(drop=True)

In [26]:
df_aggregated.head(20)

     A침o  NUMERO SUPER_CATEGORIA     GASTOMON
0   2006       1             011  684981607.0
1   2006       1             021  319264308.0
2   2006       1             031   34285154.0
3   2006       1             042          0.0
4   2006       1             043  108380640.0
5   2006       1             044   22059893.0
6   2006       1             045   44798551.0
7   2006       1             053  293570921.0
8   2006       1             055   59273497.0
9   2006       1             056  151081777.0
10  2006       1             061   23108834.0
11  2006       1             062  187772652.0
12  2006       1             072   28739203.0
13  2006       1             073  285331628.0
14  2006       1             081   13484075.0
15  2006       1             082    3342355.0
16  2006       1             083  194098171.0
17  2006       1             091   96680199.0
18  2006       1             093  126580873.0
19  2006       1             094   67593206.0

In [27]:
# Guardar el DataFrame agregado como un archivo TSV
output_filename = "../../datamarts/datamart_supercategories_three_digits.tsv"
df_aggregated.to_csv(output_filename, sep="\t", index=False)

print(f"Datamart saved as: {output_filename}")

Datamart saved as: ../../datamarts/datamart_supercategories_three_digits.tsv

In [28]:
def aggregate_supercategories_four_digits(df):
    """
    Agrega los datos por supercategor칤as, utilizando los dos primeros d칤gitos del c칩digo como categor칤a.
    Agrupa por A칌O, NUMERO y SUPER_CATEGORIA.
    """
    df["SUPER_CATEGORIA"] = df["CODIGO"].astype(str).str[:4]  # Extraer los dos primeros d칤gitos del c칩digo

    # Agregar los gastos por supercategor칤a, a침o y n칰mero de hogar
    df_agg = df.groupby(["A침o", "NUMERO", "SUPER_CATEGORIA"])["GASTOMON"].sum().reset_index()

    return df_agg

In [29]:
# Agregar por supercategor칤as
df_aggregated_four = aggregate_supercategories_four_digits(df_expenses)

# Mostrar el DataFrame con los datos agregados
df_aggregated_four.head()

    A침o  NUMERO SUPER_CATEGORIA     GASTOMON
0  2006       1            0111   95023901.0
1  2006       1            0112   45558760.0
2  2006       1            0113   45370500.0
3  2006       1            0114   26403373.0
4  2006       1            0116  161667708.0

In [30]:
# Guardar el DataFrame agregado como un archivo TSV
output_filename = "../../datamarts/datamart_supercategories_four_digits.tsv"
df_aggregated_four.to_csv(output_filename, sep="\t", index=False)

print(f"Datamart saved as: {output_filename}")

Datamart saved as: ../../datamarts/datamart_supercategories_four_digits.tsv